<h1>News Section</h1>
<h6>All the latest product information, offers and general business news</h6><br>

<% @announcements.each do |announcement| %>
<div class="span11 tooltip-demo well">
	<%= image_tag('news.png', class: 'header')%><h3><%= announcement.headline %></h3><br>
    <%=h truncate(announcement.description, :length => 600) %><br>
	<% if announcement.description.length > 600 %>
    	<%= link_to 'Read full article', announcement %>
	<% end %>
    <br><br><div class="muted">Posted by <%= announcement.posted_by %> on <%= announcement.created_at.to_date %></div><br>
</div>
<% end %>