<div class="page-header">
  <h1>News Section</h1>
  <h6>All the latest product information, offers and general business news</h6>
</div>
<% announcements.each do |announcement| %>
    <div class="span11 well">
        <%= announcement.headline %>
        <br>
        <%= announcement.short_description %>
        <br>
        <br>
        <%= announcement.posted_by %>
        <%- if current_user.has_role? :admin %>
          <div class="pull-right">
            <%= link_to 'Edit', edit_announcement_path(announcement)%>
            <%= link_to 'Destroy', announcement, method: :delete %>
          </div>
        <% end %>
    </div>
<% end %>