<img src="/images/user.png" class="header"><h2>User Profile</h2><br><br>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<p><%= f.label :name %>
<%= f.text_field :name %></p>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <!-- <div><%= f.submit "Update" %></div> -->
  <div><input type="submit" class="btn btn-primary" value="Update" ></div>

<% end %>

<hr class="bs-docs-separator">

<h3>Cancel my account</h3>

<% @cancel_message = '<span class="label label-important">WARNING!</span><br><br>'+'You are about to delete your ENTIRE ACCOUNT!<br><b>NOTE:</b> All related clients and invoices will also be deleted! This cannot be undone!<br><br> Are you sure you want to cancel your account?' %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => @cancel_message }, :method => :delete %>.</p>
(We would hate to see you go! Instead, why not <a href ="/contact">contact us</a>, tell us why you are unhappy, and let's first see if we can cater to your needs)

<hr class="bs-docs-separator">

<%= link_to "Back", :back %> | <%= link_to "Company Profile", companies_path %> | <%= link_to "Settings", settings_path %>