<div class="page-header">
  <h1><%= image_tag 'user.png' %> User Profile</h1>
  <ul class="list-inline">
    <li><%= link_to :back do %>
        <%= fa_icon 'arrow-left', text: 'Back' %>
      <% end %>
    </li>
    <li>
      <%= link_to company_path do %>
        <%= fa_icon 'institution', text: 'Company Profile' %>
      <% end %>
    </li>
    <li>
      <%= link_to settings_path do %>
        <%= fa_icon 'gears', text: 'Settings' %>
      <% end %>
    </li>
  </ul>
</div>
<div class='row'>
  <div class='col-md-7'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= f.form_group :name do %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.errors_for :name %>
      <% end %>
      <%= f.form_group :email do %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.errors_for :email %>
      <% end %>
      <%= f.form_group :password do %>
        <%= f.label :password, "Password (leave blank if you don't want to change it)" %>
        <%= f.password_field :password, autocomplete: :off, class: 'form-control' %>
        <%= f.errors_for :password %>
      <% end %>
      <%= f.form_group :password_confirmation do %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: :off, class: 'form-control' %>
        <%= f.errors_for :password_confirmation %>
      <% end %>
      <%= f.form_group :current_password do %>
        <%= f.label :password, "Current Password (we need your current password to confirm your changes)" %>
        <%= f.password_field :current_password, autocomplete: :off, class: 'form-control' %>
        <%= f.errors_for :current_password %>
      <% end %>
      <%= f.form_group :time_zone do %>
        <%= f.label :time_zone %>
        <%= f.time_zone_select :time_zone, nil, {}, class: 'form-control' %>
        <%= f.errors_for :time_zone %>
      <% end %>
      <%= f.submit 'Update', class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
  <div class="col-md-5">
    <div id="subscription_status">
      <%= image_tag('expired.png', class: 'header') %>
      <p>
        <strong>Note:</strong>
        Your current subscription is valid
    until <%= content_tag :span, time_tag(current_user.subscription.expiry_date), class: 'label label-info' %>
        <br/>
        (You will be prompted to renew when logging in after this date)

  </p>
    </div>
    <%= link_to "Have a Voucher? Click here to redeem it", "#vouchers", data: {toggle: "collapse"} %>
    <div class="collapse" id="vouchers" style="margin-top: 5px;">
      <%= form_tag redeem_path, method: :patch do %>
        <div class="form-group">
          <%= text_field_tag :unique_code, nil, placeholder: 'Enter voucher number', required: true, class: 'form-control' %>
        </div>
        <%= submit_tag 'Redeem', class: 'btn btn-primary' %>
      <% end %></div>
    <hr/>
    <h3>Cancel my account
    </h3>
    <p>
      Unhappy?

  <%= link_to "Cancel my account", registration_path(resource_name), data: {confirm: simple_format("<p>You are about to delete your <strong>ENTIRE ACCOUNT!</strong></p><p><strong>NOTE:</strong> All related clients and invoices will also be deleted! This cannot be undone!</p><p>Are you sure you want to cancel your account?</p>", {}, sanitize: false)}, method: :delete %>
    </p>
    <p>
      (We would hate to see you go! Instead, why not <%= link_to 'contact us', new_contact_path %>, tell us why you are
  unhappy, and let's first see if we can cater to your needs)
    </p>
  </div>
</div>
