<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Paying Mantis Registration</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
			<!-- <%= image_tag('http://farm9.staticflickr.com/8035/8032196291_387646339d_b.jpg') %> -->
          <td id="header" colspan="2">
			<h3>Welcome to Paying Mantis, <%= @user.name %></h3>
			<h4>The site that makes chasing your debtors easier!</h4>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr class="episode">
          <td>
			<!-- <%= image_tag('http://farm9.staticflickr.com/8032/8032212968_6e0a19ee2b_m.jpg') %> -->
          </td>
          <td valign="top">
            <h3>Your registration details</h3>
            <p>
				Email: <%= @user.email %> (Log in with this)<br>
				Username: <%= @user.name %><br><br>			
			</p>
            <p>
              <span class="duration">
				For security purposes, we will not send you your password.<br>
				If you ever forget it, simply go to the login page at www.PayingMantis.com/users/sign_in, <br>click on forgot password, enter in the above email address, and we will send you instructions on resetting the password.
	
			  </span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p>&copy;2012 Searle Consulting - All rights reserved</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>