<div class='page-header'>
  <h1>Suggestions</h1>
</div>
<% @suggestions.each do |suggestion| %>
 <div class='span11 well'>
  <h3><%= suggestion.subject %></h3>
  <h6><%= obfuscate_email suggestion.email %></h6>
  <p class='lead'>
    <%= suggestion.comment %>
  </p>
  <div class='pull-right'>
    <%= link_to admins_suggestion_path(suggestion), method: :delete, data: {confirm: 'Are you sure?'} do %>
	   <%= fa_icon 'trash', text: 'Destroy' %>
	  <% end %>
  </div>
 </div>
   <% end %>