<%= form_for [:admins, @plan] do |f| %>
  <%= f.form_group :description do %>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.errors_for :description %>
  <% end %>
  <%= f.form_group :duration do %>
    <%= f.label :duration %>
    <%= f.number_field :duration, class: 'form-control' %>
    <%= f.errors_for :duration %>
  <% end %>
  <%= f.form_group :cost do %>
    <%= f.label :cost %>
    <%= f.text_field :cost, class: 'form-control' %>
    <%= f.errors_for :cost %>
  <% end %>
  <div class='checkbox'>
    <%= f.label :active, class: 'checkbox' do %>
      <%= (f.check_box :active) + "Active" %>
    <% end %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary btn-sm' %>
<% end %>
