
<!-- SS Search box -->
<div class="header form-search" align="right">
<%= form_tag invoices_path, :method => 'get' do %>
  <p>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>	
	
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Search invoices", :method => 'get' %>
	<% if params[:search] %>
		<% if params[:search] != '' %>
			<span rel="tooltip" title="Clear Search"><%= link_to image_tag("close.png"), invoices_path %></span>
		<% end %>
	<% end %>
  </p>
<% end %>
</div>

<img src="/images/invoices.png" class="header"> <h1>Invoices</h1>

<% if params[:search] %>
	<% if params[:search] != '' %>
		<%= render "search_invoice_results" %>
	<% end %>
<% end %>

<h4 align="right">( <%= @invoices.count %> in total )</h4>



<table class="table">
  <tr>
	<th><%= sortable "due_date", "Age" %></th>
    <th><%= sortable "invoice_number", "Invoice Number" %></th>
    <th><%= sortable "due_date", "Due Date" %></th>
    <th><%= sortable "amount", "Amount" %></th>
    <th><%= sortable "description", "Description" %></th>
    <th><%= sortable "status_id", "Status" %></th>
    <th><%= sortable "client_id", "Client" %></th>
    <th><%= sortable "created_at", "Created" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
		<% if Invoice.age(invoice.due_date) > 0 %>
			<td><span class="badge badge-important"><%= Invoice.age(invoice.due_date) %></span></td> <!-- SS Age -->
		<% else %>
			<% if Invoice.age(invoice.due_date) == 0 %>
				<td><span class="badge badge-info"><%= Invoice.age(invoice.due_date) %></span></td> <!-- SS Age -->
			<% else %>
				<% if Invoice.age(invoice.due_date) < 0 %>
					<td><span class="badge badge-success"><%= Invoice.age(invoice.due_date) %></span></td> <!-- SS Age -->
				<% end %>
			<% end %>
		<% end %>
	
    <td><%= link_to invoice.invoice_number, invoice %></td>
    <td><%= invoice.due_date %></td>
    <td><%= invoice.amount %></td>
	<% if invoice.description.size > 50 %> 
		<td><a rel="popover" title='Invoice Description' 
							   data-content='<%= truncate(simple_format(invoice.description), 
										:length => 500) %>'><%= truncate(invoice.description, :length => 45)%></span></a></td>
	<% else %>
	    <td><%= invoice.description %></td>
	<% end %>
	<% if invoice.status_id != nil %>
		<% @status = Status.all :conditions => ["id = ?", invoice.status_id] %> 
	
		<% if invoice.status_id == 2 %>
		  <td><span class="label label-success"><%= @status[0].description %></span></td>
		<% else %>		
			<% if invoice.status_id == 3 %>
			  <td><span class="label label-warning"><%= @status[0].description %></span></td>
			<% else %>
				<% if invoice.status_id == 4 %>
				  <td><span class="label label-info"><%= @status[0].description %></span></td>
				<% else %>
					<% if invoice.status_id == 5 %>
					  <td><span class="label label-important"><%= @status[0].description %></span></td>
					<% else %>
						<% if invoice.status_id == 6 %>
						  <td><span class="label label-inverse"><%= @status[0].description %></span></td>
						<% else %>
							<% if invoice.status_id == 7 %>
							  <td><span class="label label-default"><%= @status[0].description %></span></td>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

    <td><%= link_to invoice.client.business_name, '/clients/'+invoice.client_id.to_s %></td>
	<td><%= time_ago_in_words(invoice.created_at) %> ago</td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<div class="flickr_pagination">
<div class="page_info">
</div>
  <%= will_paginate @invoices, :container => false %>
</div>

<hr class="bs-docs-separator">

<%= link_to 'Add Invoice', new_invoice_path %>