<img src="/images/invoices.png" class="header"> <h1>Invoices</h1><h4 align="right">( <%= @invoices.count %> in total )</h4>

<table class="table">
  <tr>
    <th><%= sortable "invoice_number", "Invoice Number" %></th>
    <th><%= sortable "due_date", "Due Date" %></th>
    <th><%= sortable "amount", "Amount" %></th>
    <th><%= sortable "description", "Description" %></th>
    <th><%= sortable "status_id", "Status" %></th>
    <th><%= sortable "client_id", "Client" %></th>
    <th><%= sortable "created_at", "Created" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.invoice_number, invoice %></td>
    <td><%= invoice.due_date %></td>
    <td><%= invoice.amount %></td>
    <td><%= invoice.description %></td>
	<% if invoice.status_id != nil %>
		<% @status = Status.all :conditions => ["id = ?", invoice.status_id] %> 
	    <td><%= @status[0].description %></td>
	<% else %>
		<td></td>
	<% end %>
    <td><%= invoice.client.business_name %></td>
	<td><%= time_ago_in_words(invoice.created_at) %> ago</td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<div class="flickr_pagination">
<div class="page_info">
</div>
  <%= will_paginate @invoices, :container => false %>
</div>

<hr class="bs-docs-separator">

<%= link_to 'Add Invoice', new_invoice_path %>