
<div class="page-header">
  <h1><%= image_tag('invoices.png') %> Invoices</h1>

  <h5><%= page_entries_info @invoices %></h5>
  <ul class="list-inline">
    <li>
      <%= link_to new_invoice_path do %>
        <%= fa_icon 'file-text', text: ' New Invoice' %>
      <% end %>
    </li>
  </ul>
</div>
<section>
<%= search_form_for @q, class: 'form-inline pull-right col-md-3' do |f| %>
 <div class="form-group">
   <div class="input-group">
     <%= f.search_field :invoice_number_or_client_business_name_cont, class: 'form-control', placeholder: 'Search', autocomplete: :off %>
      <div class="input-group-btn">
         <%= link_to invoices_path, class: 'btn btn-warning', data: { toggle: :tooltip }, title: 'Clear' do %>
           <%= fa_icon 'times' %>
         <% end %>
      </div>
   </div>
   <span class="help-block"><small>on invoice number or client business name</small></span>
 </div>
<% end %>
</section>
<% if @invoices.any? %>
  <table id='invoices' class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>
          <%= fa_icon 'question-circle', text: 'Age', data: { toggle: 'tooltip' }, title: "Days passed since the invoice became due. A negative(-) number means the invoice is not yet due (i.e. '-5' means payment is only due in 5 days time). Overdue invoices are Red, Invoices due today are Blue, and upcoming invoices are Green."  %>
        </th>
        <th><%= sort_link(@q, :invoice_number, 'Invoice Number', { hide_indicator: true }, { data:  { toggle: 'tooltip'}, title: 'Click here to sort' }) %></th>
        <th><%= sort_link(@q, :due_date, 'Due Date', { hide_indicator: true }, { data:  { toggle: 'tooltip'}, title: 'Click here to sort' }) %></th>
        <th>Amount</th>
        <th>Description</th>
        <th><%= sort_link(@q, :status, 'Status', { hide_indicator: true }, { data:  { toggle: 'tooltip'}, title: 'Click here to sort' }) %></th>
        <th><%= sort_link(@q, :client_business_name, 'Client', { hide_indicator: true }, { data:  { toggle: 'tooltip'}, title: 'Click here to sort' }) %></th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <%= render @invoices, cache: true %>
    </tbody>
  </table>
  <div class='text-center'>
    <%= paginate @invoices %>
  </div>
<% else %>
  <div class="jumbotron">
  <p class="lead text-center">
   <%= image_tag('sadface.png', size: '15x15') %>
   There don't seem to be any invoice records available.
   Click <%= link_to 'here', new_invoice_path %> to add a new invoice.
   If you performed a search, click <%= link_to 'here', invoices_path %> to refresh the page.
  </p>
</div>
<% end %>
