<% cache @invoice do %>
  <div class="page-header">
    <h1><%= image_tag('invoices.png') %> Invoice Details</h1>
    <ul class="list-inline">
      <li>
        <%= link_to invoices_path do %>
          <%= fa_icon 'arrow-left', text: 'Back' %>
        <% end %>
      </li>
      <li>
        <%= link_to edit_invoice_path(@invoice) do %>
          <%= fa_icon 'edit', text: ' Edit invoice' %>
        <% end %>
      </li>
      <li>
        <%= link_to @invoice, method: :delete, data: {confirm: "<p>You are about to delete the invoice <strong>#{@invoice.invoice_number}!</strong></p><p><strong>NOTE:</strong> This cannot be undone!</p><p>Are you sure you want to continue?</p>"} do %>
          <%= fa_icon 'trash', text: 'Delete' %>
        <% end %>
      </li>
      <li>
        <%= link_to new_invoice_path do %>
          <%= fa_icon 'file-text-o', text: ' New invoice' %>
        <% end %>
      </li>
    </ul>
  </div>
  <dl class="dl-horizontal">
    <dt>Age:</dt>
    <dd><%= age_badge(@invoice.age) %></dd>
    <dt>Invoice For:</dt>
    <dd><%= link_to @invoice.business_name, @invoice.client %></dd>
    <dt>Invoice Number:</dt>
    <dd><%= @invoice.invoice_number %></dd>
    <dt>Due Date:</dt>
    <dd><%= time_tag(@invoice.due_date) %></dd>
    <dt>Amount:</dt>
    <dd><%= number_with_precision(@invoice.amount, precision: 2) %></dd>
    <dt>Status:</dt>
    <dd><%= status_label(@invoice.status) %></dd>
    <dt>Description:</dt>
    <dd><%= simple_format(@invoice.description) %></dd>
  </dl>
  <% if @invoice.chasing? %>
    <hr/>
    <div class="media">
      <div class="media-left">
        <%= image_tag('calendarbig.png', class: 'media-object') %>
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h4>Reminder Email Dates:</h4>
        </div>
        <ol>
          <li>Pre-Due Reminder (if applicable):
        <strong><%= time_tag(@invoice.pd_date) %></strong>
          </li>
          <li>First Overdue Reminder:
        <strong><%= time_tag(@invoice.od1_date) %></strong>
          </li>
          <li>Second Overdue Reminder:
        <strong><%= time_tag(@invoice.od2_date) %></strong>
          </li>
          <li>Third Overdue Reminder:
        <strong><%= time_tag(@invoice.od3_date) %></strong>
          </li>
        </ol>
      </div>
    </div>
  <% end %>
<% end %>
