<p id="notice"><%= notice %></p>

<img src="/images/invoices.png" class="header"> <h2>Invoice Details</h2><br>

<table>
  <tr>
    <td>Invoice for:</td>
    <td><b><%= link_to @invoice.client.business_name, @invoice.client %></b></td>
  </tr>
  <tr>
    <td>Invoice Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= @invoice.invoice_number %></td>
  </tr>
  <tr>
    <td>Due Date:</td>
    <td><%= @invoice.due_date %></td>
  </tr>
  <tr>
    <td>Amount:</td>
    <td><%= @invoice.amount %></td>
  </tr>
  <tr>
    <td>Status:</td> <!-- &nbsp; SS is the code for Spaces in HTML -->
    <td><%= Invoice.status_description(@invoice.status_id) %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= simple_format(@invoice.description) %></td>
  </tr>
</table>

<hr class="bs-docs-separator">

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', :back %>