
<img src="/images/invoices.png" class="header"> <h2>Invoice Details</h2><br>

<table>
  <tr>
    <td>Invoice for:</td>
    <td><b><%= link_to @invoice.client.business_name, @invoice.client %></b></td>
  </tr>
  <tr>
    <td>Invoice Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= @invoice.invoice_number %></td>
  </tr>
  <tr>
    <td>Due Date:</td>
    <td><%= @invoice.due_date %></td>
  </tr>
  <tr>
    <td>Amount:</td>
    <td><%= number_with_precision(@invoice.amount, :precision => 2) %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%= display_status_label(@invoice)%></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= simple_format(@invoice.description) %></td>
  </tr>
</table>
<% if @invoice.status == :chasing %>
<hr class="bs-docs-separator">
<!-- <i class="icon-calendar header"></i><h4>Reminder Email Dates:</h4><br> -->
<img src="/images/calendarbig.png" class="header"> <h4>Reminder Email Dates for Invoice <%= @invoice.invoice_number %>:</h4><br>

<table>
  <tr>
    <td>1. Pre-Due Reminder (if applicable):&nbsp;&nbsp;</td>
    <td><b><%= @invoice.pd_date %></b></td>
	<!-- <td>&nbsp;&nbsp;<%= link_to "(View)", "#" %></td> -->
  </tr>
  <tr>
    <td>2. First Overdue Reminder:</td>
    <td><b><%= @invoice.od1_date %></b></td>
	<!-- <td>&nbsp;&nbsp;<%= link_to "(View)", "#" %></td> -->
  </tr>
  <tr>
    <td>3. Second Overdue Reminder:</td>
    <td><b><%= @invoice.od2_date %></b></td>
	<!-- <td>&nbsp;&nbsp;<%= link_to "(View)", "#" %></td> -->
  </tr>
  <tr>
    <td>4. Third Overdue Reminder:</td>
    <td><b><%= @invoice.od3_date %></b></td>
	<!-- <td>&nbsp;&nbsp;<%= link_to "(View)", "#" %></td> -->
  </tr>
</table>
<% end %>

<hr class="bs-docs-separator">

<%= link_to 'Edit Invoice', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', :back %>