<div class="page-header">
  <h1><%= image_tag 'clients.png'%> Import Clients</h1>
  <%= link_to clients_path do%>
    <%= fa_icon 'arrow-left', text: 'Back' %>
  <% end %>
</div>
<%= form_tag clients_imports_path, multipart: true do %>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
         <%= file_field_tag :file %>
      </div>
      <%= submit_tag 'Import', class: 'btn btn-primary' %>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= image_tag('tip.png') %>
            Notes
            </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li><strong>File:</strong> Use the browse button to select the spreadsheet you wish to import.</li>
            <li>
              <strong>Format:</strong> The first row of the spreadsheet needs to contain the following headers:
              <ul>
                <li><strong>BusinessName:</strong> The business name of the client. (This field is not optional)</li>
                <li><strong>Email:</strong> The email of the client. (This field is not optional)</li>
                <li><strong>ContactPerson:</strong> The email of the client. (This field is optional)</li>
                <li><strong>Address:</strong> The address of the client. (This field is optional)</li>
                <li><strong>City:</strong> The city of the client. (This field is optional)</li>
                <li><strong>PostCode:</strong> The post code of the client. (This field is optional)</li>
                <li><strong>Telephone:</strong> The telephone number of the client. (This field is optional)</li>
                <li><strong>Fax:</strong> The fax number of the client. (This field is optional)</li>
              </ul>
            </li>
            <li>When the records are imported, the system will check whether the business name exists and if so update the
                  existing client.
                </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
