<tr data-client-id="<%= client.id %>">
  <td data-value="<%= client.business_name %>"><%=link_to client.business_name, client %></td>
  <td data-value="<%= client.contact_person %>"><%= client.contact_person %></td>
  <td data-value="<%= client.telephone %>"><%= number_to_phone(client.telephone, area_code: true) %> </td>
  <td data-value="<%= client.email %>"><%= obfuscate_email client.email if client.email.present? %></td>
  <td data-value="<%= client.created_at %>"><%=local_time_ago(client.created_at) %></td>
  <td>
    <ul class="inline">
      <li>
        <%= link_to client do %>
          <%= fa_icon 'play-circle-o', text: 'Show' %>
        <% end %>
      </li>
      <li>
        <%= link_to edit_client_path(client) do %>
         <%= fa_icon 'edit', text: ' Edit' %>
        <% end %>
      </li>
      <li>
       <%=link_to client, method: :delete, data: { confirm: "<p>You are about to delete the client <strong>#{client.business_name}!</strong></p><p><strong>NOTE:</strong> All related invoices will also be deleted! This cannot be undone!</p><p>Are you sure you want to continue?</p>" } do %>
         <%= fa_icon 'trash', text: 'Delete' %>
       <% end %>
      </li>
    </ul>
  </td>
</tr>