<%= simple_form_for(@client) do |f| %>
    <%= errors_for(@announcement) %>
    <div class="row">
     <div class="span5">
       <%= f.input :business_name, autofocus: true %>
       <%= f.input :contact_person %>
       <%= f.input :address %>
       <%= f.input :city %>
       <%= f.input :post_code, label: 'Zip / Post Code' %>
       <%= f.input :telephone %>
       <%= f.input :fax %>
       <%= f.input :email, as: :email %>
     </div>
      <div class="span6 well">
        <%= image_tag('tip.png', class: 'header')%><h3>Notes:</h3><br>
        <ul>
          <li><b>Email:</b> The clients email address is the most important item on this page. Make sure to enter it correctly, as all the reminder emails will be sent to this address.</li><br>
          <li><b>Other:</b> The Business name, Contact Person, Address, City and Post code will appear on the reminder email for the client.</li>
        </ul>
      </div>
  </div>
<hr>
    <%= f.button :submit, 'Save Client' %>


<% end %>
