<%= form_for @client, html: {data: {validate: true}} do |f| %>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :business_name %>
        <% if @client.new_record? %>
          <%= f.text_field :business_name, autofocus: true, data: {rule_required: true, rule_remote: exists_clients_url, msg_remote: 'A client with this business name already exists.'}, placeholder: 'Business name', class: 'form-control' %>
        <% else %>
          <%= f.text_field :business_name, autofocus: true, placeholder: 'Business name', class: 'form-control' %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :email, class: 'control-label' %>
        <%= f.email_field :email, data: {rule_email: true, rule_required: true}, placeholder: 'Email', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :contact_person %>
        <%= f.text_field :contact_person, placeholder: 'Contact person', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, placeholder: 'Address', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, placeholder: 'City', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :post_code %>
        <%= f.text_field :post_code, label: 'Zip / Post Code', placeholder: 'Post code', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :telephone %>
        <%= f.telephone_field :telephone, placeholder: 'Telephone', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :fax %>
        <%= f.telephone_field :fax, placeholder: 'Fax', class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= image_tag('tip.png') %>
            Notes
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <%= simple_format("<strong>Email:</strong> The clients email address is the most important item on this page. Make sure to enter it correctly, as all the reminder emails will be sent to this address.") %>
            </li>
            <li>
              <%= simple_format("<strong>Other:</strong> The Business name, Contact Person, Address, City and Post code will appear on the reminder email for the client.") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit 'Save client', class: 'btn btn-primary btn-sm' %>
<% end %>
