
<br>
	<table class="table table-condensed">
	  <tr>
	    <th>Date Sent</th>	
		<th>Sent To</th>
		<th>Type</th>
	    <th>Reference</th>
	    <th>Subject</th>
	    <th>Message</th>
		<th><span rel="tooltip" title="Quick View"><i class="icon-eye-open"></i></span></th>
	  </tr>

	<%= content_tag_for(:tr, @client.histories) do |history| %>
	    <td><%= link_to history.date_sent, history %></td>
		<td><%= history.email_sent_to %></td>
        <td><%= display_reminder_badge(history) %></td>
	    <td><%= history.invoice_number %></td>
	    <td><%= truncate(history.subject, length: 50) %></td>
	    <td><%= truncate(history.message, length: 70) %></td>
        <td>
          <%= link_to '#', {rel: 'popover', title: "Email Message (Ref: #{history.invoice_number})", data: {content: "#{history.message}", placement: 'left'} } do %>
              <i class="icon-eye-open"></i>
          <% end %>
        </td>
	<% end %>
	</table>