
<br>
	<table class="table table-condensed">
	  <tr>
	    <th>Age</th>
	    <th>Invoice Number</th>
	    <th>Due date</th>
	    <th>Amount</th>
	    <th>Description</th>
	    <th>Status</th>
	    <th>Created</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	<% @client.invoices.chasing.each do |invoice| %>
	  <tr>
        <td><%= display_age_badge(invoice) %></td>
	    <td><%= link_to invoice.invoice_number, invoice %></td>
	    <td><%= invoice.due_date %></td>
	    <td><%= invoice.amount %></td>
		<td><%= display_description(invoice)%></td>
		<td><%= display_status_label(invoice)%></td>
		<td><%= time_ago_in_words(invoice.created_at) %> ago</td>
	    <td><%= link_to 'Show', invoice %></td>
	    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>	
	    <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: confirm_delete_invoice_message(invoice) } %></td>
	  </tr>
	<% end %>
	</table>