<hr>

<h2>Welcome to your Clients screen!</h2>
<h6>This screen will show a listing of all your clients loaded.</h6>
<h6>But at the moment, you don't have any... <%= image_tag('sadface.png', size: '15x15') %> Let's fix that right away!</h6><br><br>

<h4>Why don't we get started:</h4><br>

<h2><%= link_to 'Add a New Client', new_client_path %></h2><br>

<h4>Other options available are:</h4><br> 
<%= link_to 'Add a New Invoice', new_invoice_path %><br><br>
<%= link_to 'Make sure your Settings are customized to suit your needs', settings_path %><br>
<%= link_to 'Make sure your Company Profile is correctly setup', companies_path %><br><br>

Remember that you can come back to this screen at any time, by clicking the "CLIENTS" link in the above navigation menu. 

<hr>

Need help? Then check out the following: <%= link_to "Help", tutorial_path %> | <%= link_to 'FAQs', faq_path %>  | <%= link_to 'About', about_path %> | <%= link_to 'Contact Us', contact_path %>
