<h1> Import</h1>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

<ul>
  <% Client.columns.each do |column| %>
      <% if column.name.in? ["id", *Client.accessible_attributes] %>
          <li>
            <strong><%= column.name %></strong> -
            <%= column.type.to_s.titleize %> type
          </li>
      <% end %>
  <% end %>
</ul>


<%= form_for @import, :url => import_path do |f| %>
    <% if @import.errors.any? %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">x</a>
          <ul>
            <% @import.errors.full_messages.each do |msg| %>
                <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.file_field :file %>
    <br>
    <%= f.submit 'Import' %>
<% end %>


<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>

