<img src="images/clients.png" class="header"> <h1>Clients</h1><h4 align="right">( <%= @clients.count %> in total )</h4>

<table class="table">
  <tr>
    <th><%= sortable "business_name", "Business Name" %></th>
    <th><%= sortable "contact_person", "Contact Person" %></th>
    <th><%= sortable "telephone", "Telephone" %></th>
    <th><%= sortable "email", "Email" %></th>
    <th><%= sortable "created_at", "Created" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.business_name, client %></td>
    <td><%= client.contact_person %></td>
    <td><%= client.telephone %></td>
    <td><%= client.email %></td>
	<td><%= time_ago_in_words(client.created_at) %> ago</td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div class="flickr_pagination">
<div class="page_info">
</div>
  <%= will_paginate @clients, :container => false %>
</div>

<hr class="bs-docs-separator">

<%= link_to 'New Client', new_client_path %>

