<!-- SS Search box -->
<div class="header form-search" align="right">
<%= form_tag clients_path, :method => 'get' do %>
  <p>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>	
	
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Search clients", :method => 'get' %>
	<% if params[:search] %>
		<% if params[:search] != '' %>
			<span rel="tooltip" title="Clear Search"><%= link_to image_tag("close.png"), clients_path %></span>
		<% end %>
	<% end %>
  </p>
<% end %>
</div>

<img src="images/clients.png" class="header"> <h1>Clients</h1>

<% if params[:search] %>
	<% if params[:search] != '' %>
		<%= render "search_client_results" %>
	<% end %>
<% end %>

<h4 align="right">( <%= @clients.count %> in total )</h4>

<% if @clients.count == 0
	@clients_checkall_for_user = Client.for_user(current_user.id)
	if @clients_checkall_for_user.count == 0 %>
	  <%= render("no_records") %>
<% end %>
<% else %>


<table class="table">
  <tr>
    <th><%= sortable "business_name", "Business Name" %></th>
    <th><%= sortable "contact_person", "Contact Person" %></th>
    <th><%= sortable "telephone", "Telephone" %></th>
    <th><%= sortable "email", "Email" %></th>
    <th><%= sortable "created_at", "Created" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.business_name, client %></td>
    <td><%= client.contact_person %></td>
    <td><%= client.telephone %></td>
    <td><%= link_to client.email, "mailto:"+client.email %></td>
	<td><%= time_ago_in_words(client.created_at) %> ago</td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
	<% @delete_message = '<span class="label label-important">WARNING!</span><br><br>'+'You are about to delete the client <b>'+client.business_name+'!</b><br><b>NOTE:</b> All related invoices will also be deleted! This cannot be undone!<br><br> Are you sure you want to continue?' %>
	
    <td><%= link_to 'Delete', client, method: :delete, data: { confirm: @delete_message } %></td>
  </tr>
<% end %>
</table>

<div class="flickr_pagination">
<div class="page_info">
</div>
  <%= will_paginate @clients, :container => false %>
</div>

<hr class="bs-docs-separator">

<%= link_to 'New Client', new_client_path %> 

<% end %>
