<h1>Clients</h1><h4 align="right">( <%= @clients.size %> in total )</h4>

<table class="table">
  <tr>
    <th>Business name</th>
    <th>Contact person</th>
    <th>Telephone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.business_name %></td>
    <td><%= client.contact_person %></td>
    <td><%= client.telephone %></td>
    <td><%= client.email %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<hr class="bs-docs-separator">

<%= link_to 'New Client', new_client_path %>
