<!-- SS Search box -->
<div class="header form-search" align="right">
<%= form_tag clients_path, :method => 'get' do %>
  <p>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>	
	
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Search clients", :method => 'get' %>
	<% if params[:search] %>
		<% if params[:search] != '' %>
			<span rel="tooltip" title="Clear Search"><%= link_to image_tag("close.png"), clients_path %></span>
		<% end %>
	<% end %>
  </p>
<% end %>
</div>

<%= image_tag('clients.png', class: 'header') %><h1>Clients</h1>

<% if params[:search] %>
	<% if params[:search] != '' %>
		<%= render "search_client_results" %>
	<% end %>
<% end %>

<h4 align="right">( <%= current_user.clients.size %> in total )</h4>

<% if current_user.clients.empty? %>
	  <%= render("no_records") %>
<% else %>
<table class="table">
  <tr>
    <th><%= sortable "business_name", "Business Name" %></th>
    <th><%= sortable "contact_person", "Contact Person" %></th>
    <th><%= sortable "telephone", "Telephone" %></th>
    <th><%= sortable "email", "Email" %></th>
    <th><%= sortable "created_at", "Created" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.business_name, client %></td>
    <td><%= client.contact_person %></td>
    <td><%= client.telephone %></td>
    <td><%= mail_to client.email, nil, encode: :javascript %></td>
	<td><%= time_ago_in_words(client.created_at) %> ago</td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Delete', client, method: :delete, data: { confirm: confirm_delete_client_message(client) } %></td>
  </tr>
<% end %>
</table>

<div class="flickr_pagination">
<div class="page_info">
</div>
  <%= will_paginate @clients, :container => false %>
</div>

<hr class="bs-docs-separator">

<%= link_to 'New Client', new_client_path %>

<% end %>
