<div class="page-header">
  <div class="media">
    <div class='media-left media-top'>
      <%= image_tag('clients.png', class: 'media-object') %>
    </div>
    <div class="media-body">
      <h2 class='media-heading'>Clients</h2>
      <div class="pagination-details">
        <h5><%= page_entries_info @clients %></h5>
      </div>
      <ul class="list-inline">
        <li>
          <%= link_to new_client_path do %>
            <%= fa_icon 'male', text: ' Add Client' %>
          <% end %>
        </li>
        <li>
          <%= link_to new_clients_import_path do %>
            <%= fa_icon 'file-excel-o', text: ' Import Clients' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="search-form pull-right">
    <small>
      <em class="muted">Search on business name or contact person</em>
    </small>
    <%= form_tag clients_path, method: :get, class: 'form-inline', remote: true, data: {validate: true} do %>
      <div class="form-group">
        <%= text_field_tag :q, params[:q], class: 'form-control input-sm', autocomplete: :off, placeholder: 'Search',  data: {rule_minlength: 3, rule_required: true} %>
        <span rel="tooltip" title="Clear Search">
          <%= link_to image_tag("close.png"), clients_path %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<div id="clients">
  <% if @clients.total_count.zero? %>
    <div class="jumbotron">
      <p class="lead">
        This screen will show a listing of all your clients loaded.
          <br/>
        But at the moment, you don't have any...
          <%= image_tag('sadface.png', size: '15x15') %>
        Let's fix that right away!
        </p>
      <p>
        <strong>Why don't we get started:</strong>
      </p>
      <h2>
        <%= link_to new_client_path do %>
          <%= fa_icon 'male', text: ' Add a New Client' %>
        <% end %></h2>
    </div>
  <% else %>
    <%= render 'clients', clients: @clients %>
  <% end %>
</div>
