<% cache @client do %>
  <div class="page-header">
    <h1><%= image_tag('clients.png') %> Client Details <small><%= @client.business_name %></small></h1>
    <ul class="list-inline">
      <li>
        <%= link_to clients_path do %>
          <%= fa_icon 'arrow-left', text: 'Back' %>
        <% end %>
      </li>
      <li>
        <%= link_to edit_client_path(@client) do %>
          <%= fa_icon 'edit', text: ' Edit client' %>
        <% end %>
      </li>
      <li>
        <%= link_to @client, method: :delete, data: {confirm: "<p>You are about to delete the client <strong>#{@client.business_name}!</strong></p><p><strong>NOTE:</strong> All related invoices will also be deleted! This cannot be undone!</p><p>Are you sure you want to continue?</p>"}, class: 'delete-client' do %>
          <%= fa_icon 'trash', text: 'Delete' %>
        <% end %>
      </li>
      <li>
        <%= link_to new_client_path do %>
          <%= fa_icon 'male', text: ' New client' %>
        <% end %>
      </li>
      <li>
        <%= link_to new_client_invoice_path(@client) do %>
          <%= fa_icon 'file-text', text: ' New client invoice' %>
        <% end %>
      </li>
    </ul>
  </div>
  <section class='details'>
    <div class='col-md-6'>
      <dl class='dl-horizontal'>
        <dt>Business Name:</dt>
        <dd><%= @client.business_name %></dd>
        <dt>Contact Person:</dt>
        <dd><%= @client.contact_person %></dd>
        <dt>Telephone:</dt>
        <dd><%= number_to_phone(@client.telephone, area_code: true) %></dd>
        <dt>Fax:</dt>
        <dd><%= number_to_phone(@client.fax, area_code: true) %></dd>
        <dt>Email:</dt>
        <dd><%= obfuscate_email @client.email if @client.email.present? %></dd>
      </dl>
    </div>
    <div class='col-md-4'>
      <address>
        <strong>Address</strong>
        <br/>
        <%= @client.address.presence || content_tag(:em, 'Street', class: 'text-muted')  %>
        <br/>
        <%= @client.city.presence || content_tag(:em, 'City', class: 'text-muted') %>
        <br/>
        <%= @client.post_code.presence || content_tag(:em, 'Postal code', class: 'text-muted') %>
      </address>
    </div>
  </section>
<section class='invoices'>
  <ul class="nav nav-tabs" id="invoices">
    <li class="active">
      <a data-toggle="tab" href="#chasing">Currently Chasing</a>
    </li>
    <li>
      <a data-toggle="tab" href="#history">Chasing History</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="chasing">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            You are currently chasing
          <strong><%= pluralize(@client.outstanding_invoices.size, 'invoice') %></strong>
            for
          <strong><%= @client.business_name %></strong>
            to the value of
          <strong><%= @client.outstanding_invoices.total %></strong>
            (total chasing amount).
        </p>
        </div>
        <table class='table table-bordered table-condensed'>
          <thead>
            <tr>
              <th>
                <%= fa_icon 'question-circle', text: 'Age', data: { toggle: 'tooltip' }, title: "Days passed since the invoice became due. A negative(-) number means the invoice is not yet due (i.e. '-5' means payment is only due in 5 days time). Overdue invoices are Red, Invoices due today are Blue, and upcoming invoices are Green."  %>
              </th>
              <th>Invoice Number</th>
              <th>Due Date</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Created</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'clients/invoices/outstanding', collection: @client.outstanding_invoices, as: :invoice, cache: true %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="history">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            Here are the emails you have
          <strong>already sent</strong>
            to
          <strong><%= @client.business_name %></strong>
            (Newest to Oldest).</p>
        </div>
        <table class='table table-bordered table-condensed'>
          <thead>
            <tr>
              <th>Date Sent</th>
              <th>Sent To</th>
              <th>Type</th>
              <th>Reference</th>
              <th>Subject</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <%= render @client.histories, cache: true %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<% end %>
