
<div class="row">
  <div class="col-md-6">
    <h3>The easiest way to chase outstanding invoices!</h3>
    <h5>Take the hassle out of chasing your debtors, and get paid on time!</h5>
  </br>
  <div class="carousel slide" data-ride='carousel' id='home_carousel'>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag 'calendar1.png' %>
        <div class="carousel-caption">
          Drastically increase your chances of getting paid on time, every time!
          </div>
      </div>
      <div class="item">
        <%= image_tag 'chasing.png' %>
        <div class="carousel-caption">
          Stop wasting your own time chasing after Outstanding Invoices!
          </div>
      </div>
      <div class="item">
        <%= image_tag('unlock1.png') %>
        <div class="carousel-caption">
          Unlock your Cash Flow and free up your Time with very little effort!
          </div>
      </div>
    </div>
    <a class="left carousel-control" href="#home_carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home_carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="col-md-6">
  <h3>How it works:</h3>
  <h5>1. Do your once off setup of how you would like to chase invoices</h5>
  <h5>2. Load your invoice(s)</h5>
  <h5>3. Let Paying Mantis chase your customers that owe you money</h5>
  <h5>4. Get paid!</h5>
  <h3>Wanna give it a try and increase your cashflow?</h3>
  <br/>
  <%= link_to 'Sign up for a free account now!', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
  <br/>
  <h3>Already have an account?</h3>
  <%= link_to 'Login here', new_user_session_path %>
  <h3>Watch the Tutorial Video</h3>
  <a data-toggle="modal" href="#tutorial-video">View Video</a>
  <h3>Need more information?</h3>
  <%= link_to 'Click here', about_path %>
</div>
</div>
<div class="pull-right">
  <% cache 'social-media' do %>
    <script type="text/javascript">
      var switchTo5x = true;
    </script>
    <script src="http://w.sharethis.com/button/buttons.js" type="text/javascript"></script>
    <script type="text/javascript">
      stLight.options({publisher: "ur-84d8d783-c4b3-63aa-165d-7c93ac957388"});
    </script>
    <span class="st_linkedin_large" displaytext="LinkedIn"></span>
    <span class="st_facebook_large" displaytext="Facebook"></span>
    <span class="st_twitter_large" displaytext="Tweet"></span>
    <span class="st_email_large" displaytext="Email"></span>
    <br/>
    <%= image_tag("share.png") %>
  <% end %>
</div>
<%= render 'shared/tutorial_video' %>
