<tr>
  <td>
    <%= link_to local_time_ago(history.date_sent), history%>
  </td>
  <td>
    <%= history.email_sent_to %>
  </td>
  <td>
    <%= reminder_badge(history.reminder_type) %>
  </td>
  <td>
    <%= history.invoice_number %>
  </td>
  <td>
    <%= truncate(history.subject, length: 50) %>
  </td>
  <td>
    <%= truncate(history.message, length: 70) %>
  </td>
</tr>
