<%= form_for current_user, url: settings_path do |f| %>
  <ul class="nav nav-pills nav-stacked col-md-2">
    <li class="active">
      <a data-toggle="tab" href="#general">General</a>
    </li>
    <li>
      <a data-toggle="tab" href="#predue">Pre-Due Reminder</a>
    </li>
    <li>
      <a data-toggle="tab" href="#due">Due Reminder</a>
    </li>
    <li>
      <a data-toggle="tab" href="#od1">First Overdue Reminder</a>
    </li>
    <li>
      <a data-toggle="tab" href="#od2">Second Overdue Reminder</a>
    </li>
    <li>
      <a data-toggle="tab" href="#od3">Third Overdue Reminder</a>
    </li>
    <li>
      <a data-toggle="tab" href="#fd">Final Demand Reminder</a>
    </li>
  </ul>
  <div class="tab-content col-md-10">
    <div class="tab-pane fade in active" id="general">
      <div class="row">
        <div class="col-md-5">
          <%= f.form_group :reminder_email_sender_address do %>
            <%= f.label :reminder_email_sender_address %>
            <%= f.text_field :reminder_email_sender_address, class: 'form-control' %>
          <% end %>
          <%= f.form_group :reminder_email_cc_address do %>
            <%= f.label :reminder_email_cc_address %>
            <%= f.email_field :reminder_email_cc_address, class: 'form-control' %>
          <% end %>
          <%= f.form_group :chasing_interval do %>
            <%= f.label :chasing_interval, 'Chasing interval (no days between chase)' %>
            <%= f.number_field :chasing_interval, class: 'form-control' %>
          <% end %>
          <%= f.form_group :pre_due_interval do %>
            <%= f.label :pre_due_interval, 'Pre-due interval (no days before pre-due)' %>
            <%= f.number_field :pre_due_interval, class: 'form-control' %>
          <% end %>
          <%= f.form_group :payment_method_message do %>
            <%= f.label :payment_method_message %>
            <%= f.text_area :payment_method_message, class: 'form-control', rows: 20 %>
          <% end %>
          <%= f.submit 'Save your Settings', class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag('tip.png') %>
                Notes
            </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><%= simple_format("<strong>Reminder Email Sender Address:</strong> This name will be used at the end of the reminder email.") %>
                </li>
                <li><%= simple_format("<strong>Reminder Email CC Address:</strong> A copy of the reminder emails will be sent to this email address as well as the clients (For example, send a copy to yourself, or your credit control clerk for your records etc. (The client will  not see this email address") %>
                </li>
                <li><%= simple_format("<strong>Chasing Interval (days between chase):</strong> The number of days between the reminder emails (Default starts 7 days from the due date)") %>
                </li>
                <li><%= simple_format("<strong>Pre-Due Interval (days before pre-due):</strong> The number of days before the due date that the pre-due reminder email will be sent (Default is 2 days before the due date)") %>
                </li>
                <li><%= simple_format("<strong>Payment Method Message:</strong> This will appear on the bottom of your reminder emails, and it is very important to make sure your correct banking details and other payment methods are displayed here, as it is what the client will use to make the payment.") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="predue">
      <div class="row">
        <div class="col-md-5">
          <div class="checkbox">
            <%= f.label :send_pre_due_reminder_email, class: 'checkbox' do %>
              <%= (f.check_box :send_pre_due_reminder_email) + 'Send pre due reminder email' %>
            <% end %>
          </div>
          <%= f.form_group :pre_due_reminder_email_subject do %>
            <%= f.label :pre_due_reminder_email_subject %>
            <%= f.text_field :pre_due_reminder_email_subject, class: 'form-control' %>
          <% end %>
          <%= f.form_group :pre_due_reminder_email_message do %>
            <%= f.label :pre_due_reminder_email_message %>
            <%= f.text_area :pre_due_reminder_email_message, class: 'form-control', rows: 20 %>
          <% end %>
          <%= f.submit 'Save your Settings', class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag('tip.png') %>
                Notes
            </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><%= simple_format("<strong>Send Pre-Due Reminder Email Checkbox:</strong> Uncheck this to NOT send a pre-due reminder message (Default is on).") %>
                </li>
                <li><%= simple_format("<strong>Pre-Due Reminder Email Subject:</strong> This will be used as the subject line of the pre-due reminder email.") %>
                </li>
                <li><%= simple_format("<strong>Pre-Due Reminder Email Message:</strong> This will be used as the message body for the pre-due reminder email.") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="due">
      <div class="row">
        <div class="col-md-5">
          <div class="checkbox">
            <%= f.label :send_due_reminder_email, class: 'checkbox' do %>
              <%= (f.check_box :send_due_reminder_email) + 'Send due reminder email' %>
            <% end %>
          </div>
          <%= f.form_group :due_reminder_email_subject do %>
            <%= f.label :due_reminder_email_subject %>
            <%= f.text_field :due_reminder_email_subject, class: 'form-control' %>
          <% end %>
          <%= f.form_group :due_reminder_email_message do %>
            <%= f.label :due_reminder_email_message %>
            <%= f.text_area :due_reminder_email_message, class: 'form-control', rows: 20 %>
          <% end %>
          <%= f.submit 'Save your Settings', class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag('tip.png') %>
                Notes
            </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><%= simple_format("<strong>Due Reminder Checkbox:</strong> Uncheck this to NOT send a due reminder message (Default is on).") %>
                </li>
                <li><%= simple_format("<strong>Due Reminder Email Subject:</strong> This will be used as the subject line of the due reminder email.") %>
                </li>
                <li><%= simple_format("<strong>Due Reminder Email Message:</strong> This will be used as the message body for the due reminder email.") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="od1">
      <div class="row">
        <div class="col-md-5">
          <%= f.form_group :first_overdue_reminder_email_subject do %>
            <%= f.label :first_overdue_reminder_email_subject %>
            <%= f.text_field :first_overdue_reminder_email_subject, class: 'form-control' %>
          <% end %>
          <%= f.form_group :first_overdue_reminder_email_message do %>
            <%= f.label :first_overdue_reminder_email_message %>
            <%= f.text_area :first_overdue_reminder_email_message, class: 'form-control', rows: 20 %>
          <% end %>
          <%= f.submit 'Save your Settings', class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag('tip.png') %>
                Notes
          </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><%= simple_format("<strong>First Overdue Reminder Email Subject</strong> This will be used as the subject line of the first overdue reminder email.") %>
                </li>
                <li><%= simple_format("<strong>First Overdue Reminder Email Message:</strong> This will be used as the message body for the first overdue reminder email.") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="od2">
      <div class="row">
        <div class="col-md-5">
          <%= f.form_group :second_overdue_reminder_email_subject do %>
            <%= f.label :second_overdue_reminder_email_subject %>
            <%= f.text_field :second_overdue_reminder_email_subject, class: 'form-control' %>
          <% end %>
          <%= f.form_group :second_overdue_reminder_email_message do %>
            <%= f.label :second_overdue_reminder_email_message %>
            <%= f.text_area :second_overdue_reminder_email_message, class: 'form-control', rows: 20 %>
          <% end %>
          <%= f.submit 'Save your Settings', class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag('tip.png') %>
                Notes
          </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><%= simple_format("<strong>Second Overdue Reminder Email Subject</strong> This will be used as the subject line of the second overdue reminder email.") %>
                </li>
                <li><%= simple_format("<strong>Second Overdue Reminder Email Message:</strong> This will be used as the message body for the second overdue reminder email.") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="od3">
      <div class="row">
        <div class="col-md-5">
          <%= f.form_group :third_overdue_reminder_email_subject do %>
            <%= f.label :third_overdue_reminder_email_subject %>
            <%= f.text_field :third_overdue_reminder_email_subject, class: 'form-control' %>
          <% end %>
          <%= f.form_group :third_overdue_reminder_email_message do %>
            <%= f.label :third_overdue_reminder_email_message %>
            <%= f.text_area :third_overdue_reminder_email_message, class: 'form-control', rows: 20 %>
          <% end %>
          <%= f.submit 'Save your Settings', class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag('tip.png') %>
                Notes
          </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><%= simple_format("<strong>Third Overdue Reminder Email Subject</strong> This will be used as the subject line of the third overdue reminder email.") %>
                </li>
                <li><%= simple_format("<strong>Third Overdue Reminder Email Message:</strong> This will be used as the message body for the third overdue reminder email.") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="fd">
      <div class="row">
        <div class="col-md-5">
          <%= f.form_group :final_demand_reminder_email_subject do %>
            <%= f.label :final_demand_reminder_email_subject %>
            <%= f.text_field :final_demand_reminder_email_subject, class: 'form-control' %>
          <% end %>
          <%= f.form_group :final_demand_reminder_email_message do %>
            <%= f.label :final_demand_reminder_email_message %>
            <%= f.text_area :final_demand_reminder_email_message, class: 'form-control', rows: 20 %>
          <% end %>
          <%= f.submit 'Save your Settings', class: 'btn btn-primary btn-sm' %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag('tip.png') %>
                Notes
          </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><%= simple_format("<strong>Final Demand Reminder Email Subject</strong> This will be used as the subject line of the final demand reminder email.") %>
                </li>
                <li><%= simple_format("<strong>Final Demand Reminder Email Message:</strong> This will be used as the message body for the final demand reminder email.") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
