<div class="page-header">
  <div class="media">
    <div class="pull-left">
      <%= image_tag('settings.png', class: 'media-object') %>
    </div>
    <div class="media-body">
      <h1>Edit Settings</h1>
    </div>
  </div>
</div>
<%= render 'form' %>
<hr/>
<ul class="inline">
  <li><%= link_to "Back", :back %></li>
  <li><%= link_to "User Profile", edit_user_registration_path %></li>
  <li><%= link_to "Company Profile", company_path %></li>
</ul>
