<div class="page-header">
  <h1><%= image_tag('settings.png') %> Edit Settings</h1>
  <ul class="list-inline">
    <li>
      <%= link_to :back do %>
        <%= fa_icon 'arrow-left', text: 'Back' %>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_registration_path do %>
        <%= fa_icon 'user', text: 'User Profile' %>
      <% end %>
    </li>
    <li>
      <%= link_to company_path do %>
        <%= fa_icon 'institution', text: 'Company Profile' %>
      <% end %>
    </li>
  </ul>
</div>
<%= render 'form' %>
