<%= image_tag 'settings.png', class: 'header' %><h1>Settings</h1><br><br>


<table>

      <div class="tabbable tabs-left">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#general" data-toggle="tab">General</a></li>
          <li><a href="#predue" data-toggle="tab">Pre-Due Reminder</a></li>
          <li><a href="#due" data-toggle="tab">Due Reminder</a></li>
          <li><a href="#od1" data-toggle="tab">Overdue Reminder 1</a></li>
          <li><a href="#od2" data-toggle="tab">Overdue Reminder 2</a></li>
          <li><a href="#od3" data-toggle="tab">Overdue Reminder 3</a></li>
          <li><a href="#fd" data-toggle="tab">Final Demand</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="general">
            <h3>General Settings</h3><br>
            <h6>Sent From:</h6> 						<%= @settings.send_from_name %><br><br>
            <h6>Send copy of all email to:</h6> 		<%= @settings.email_copy_to %><br><br>
            <h6>Days for Pre-due reminder:</h6> 		<%= @settings.days_before_pre_due %> days<br><br>
            <h6>Days between reminder emails:</h6> 	    <%= @settings.days_between_chase %> days<br><br>

            <h6>Payment Method Message:</h6>			<%= simple_format(@settings.payment_method_message) %>
          </div>
          <div class="tab-pane fade" id="predue">
            <h3>Pre-Due Reminder</h3><br>
            <% if @settings.pre_due_reminder %>
                <h6>Send Pre-Due reminder:</h6> 		YES
            <% else %>
                <h6>Send Pre-Due reminder:</h6> 		NO
            <% end %><br><br>
            <h6>Pre-Due Email Subject line:</h6> 		<%= @settings.pre_due_subject %><br><br>
            <h6>Pre-Due Email Message Content:</h6> 	<%= simple_format(@settings.pre_due_message) %>


          </div>
          <div class="tab-pane fade" id="due">
            <h3>Due Reminder</h3><br>
            <% if @settings.due_reminder %>
                <h6>Send Due reminder:</h6> YES
            <% else %>
                <h6>Send Due reminder:</h6> NO
            <% end %><br><br>
            <h6>Email Subject Line:</h6> 		<%= @settings.due_subject %><br><br>
            <h6>Email Message Content:</h6> 	<%= simple_format(@settings.due_message) %>
          </div>
          <div class="tab-pane fade" id="od1">
            <h3>First Overdue Reminder</h3><br>
            <h6>Email Subject Line:</h6> 		<%= @settings.overdue1_subject  %><br><br>
            <h6>Email Message Content:</h6> 	<%= simple_format(@settings.overdue1_message) %>
          </div>
          <div class="tab-pane fade" id="od2">
            <h3>Second Overdue Reminder</h3><br>
            <h6>Email Subject Line:</h6> 		<%= @settings.overdue2_subject  %><br><br>
            <h6>Email Message Content:</h6> 	<%= simple_format(@settings.overdue2_message) %>
          </div>
          <div class="tab-pane fade" id="od3">
            <h3>Third Overdue Reminder</h3><br>
            <h6>Email Subject Line:</h6> 		<%= @settings.overdue3_subject  %><br><br>
            <h6>Email Message Content:</h6> 	<%= simple_format(@settings.overdue3_message) %>
          </div>
          <div class="tab-pane fade" id="fd">
            <h3>Final Demand</h3><br>
            <h6>Email Subject Line:</h6> 		<%= @settings.final_demand_subject  %><br><br>
            <h6>Email Message Content:</h6> 	<%= simple_format(@settings.final_demand_message) %>
          </div>

        </div>
      </div>


      <hr class="bs-docs-separator">

      <h6><%= link_to 'Edit your settings', edit_setting_path(@settings) %></h6>
      <h6>(Above is how the messages will appear on your reminder emails)</h6>

      <hr class="bs-docs-separator">

      <%= link_to "Back", :back %> | <%= link_to "User Profile", edit_user_registration_path %> | <%= link_to "Company Profile", companies_path %>


</table>


