<p id="notice"><%= notice %></p>

<p>
  <b>Send from name:</b>
  <%= @setting.send_from_name %>
</p>

<p>
  <b>Email copy to:</b>
  <%= @setting.email_copy_to %>
</p>

<p>
  <b>Days between chase:</b>
  <%= @setting.days_between_chase %>
</p>

<p>
  <b>Days before pre due:</b>
  <%= @setting.days_before_pre_due %>
</p>

<p>
  <b>Payment method message:</b>
  <%= @setting.payment_method_message %>
</p>

<p>
  <b>Pre due reminder:</b>
  <%= @setting.pre_due_reminder %>
</p>

<p>
  <b>Pre due subject:</b>
  <%= @setting.pre_due_subject %>
</p>

<p>
  <b>Pre due message:</b>
  <%= @setting.pre_due_message %>
</p>

<p>
  <b>Due reminder:</b>
  <%= @setting.due_reminder %>
</p>

<p>
  <b>Due subject:</b>
  <%= @setting.due_subject %>
</p>

<p>
  <b>Due message:</b>
  <%= @setting.due_message %>
</p>

<p>
  <b>Overdue1 subject:</b>
  <%= @setting.overdue1_subject %>
</p>

<p>
  <b>Overdue1 message:</b>
  <%= @setting.overdue1_message %>
</p>

<p>
  <b>Overdue2 subject:</b>
  <%= @setting.overdue2_subject %>
</p>

<p>
  <b>Overdue2 message:</b>
  <%= @setting.overdue2_message %>
</p>

<p>
  <b>Overdue3 subject:</b>
  <%= @setting.overdue3_subject %>
</p>

<p>
  <b>Overdue3 message:</b>
  <%= @setting.overdue3_message %>
</p>

<p>
  <b>Final demand subject:</b>
  <%= @setting.final_demand_subject %>
</p>

<p>
  <b>Final demand message:</b>
  <%= @setting.final_demand_message %>
</p>

<p>
  <b>User:</b>
  <%= @setting.user_id %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
