<div class="page-header">
  <h1><%= image_tag('settings.png') %> Settings</h1>
  <ul class="list-inline">
    <li>
      <%= link_to :back do %>
        <%= fa_icon 'arrow-left', text: 'Back' %>
      <% end %>
    </li>
    <li>
      <%= link_to edit_settings_path do %>
        <%= fa_icon 'edit', text: 'Edit settings' %>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_registration_path do %>
        <%= fa_icon 'user', text: 'User Profile' %>
      <% end %>
    </li>
    <li>
      <%= link_to company_path do %>
        <%= fa_icon 'institution', text: 'Company Profile' %>
      <% end %>
    </li>
  </ul>
</div>
<ul class="nav nav-pills nav-stacked col-md-2">
  <li class="active">
    <a data-toggle="tab" href="#general">General</a>
  </li>
  <li>
    <a data-toggle="tab" href="#predue">Pre-Due Reminder</a>
  </li>
  <li>
    <a data-toggle="tab" href="#due">Due Reminder</a>
  </li>
  <li>
    <a data-toggle="tab" href="#od1">First Overdue Reminder</a>
  </li>
  <li>
    <a data-toggle="tab" href="#od2">Second Overdue Reminder</a>
  </li>
  <li>
    <a data-toggle="tab" href="#od3">Third Overdue Reminder</a>
  </li>
  <li>
    <a data-toggle="tab" href="#fd">Final Demand Reminder</a>
  </li>
</ul>
<div class="tab-content col-md-10">
  <div class="tab-pane fade in active" id="general">
    <dl>
      <dt>Sent From</dt>
      <dd><%= @settings.reminder_email_sender_name %></dd>
      <dt>Send copy of all email to</dt>
      <dd><%= @settings.reminder_email_cc_address %></dd>
      <dt>Days for Pre-due reminder</dt>
      <dd><%= pluralize(@settings.pre_due_interval, 'day') %></dd>
      <dt>Days between reminder emails</dt>
      <dd><%= pluralize(@settings.chasing_interval, 'day') %></dd>
      <dt>Payment Method Message:</dt>
      <dd><%= simple_format(@settings.payment_method_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="predue">
    <dl>
      <dt>Send Pre-Due reminder</dt>
      <dd><%= @settings.send_pre_due_reminder_email ? "YES" : "NO" %></dd>
      <dt>Pre-Due Email Subject line</dt>
      <dd><%= @settings.pre_due_reminder_email_subject %></dd>
      <dt>Pre-Due Email Message Content</dt>
      <dd><%= simple_format(@settings.pre_due_reminder_email_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="due">
    <dl>
      <dt>Send Due reminder</dt>
      <dd><%= @settings.send_due_reminder_email ? "YES" : "NO" %></dd>
      <dt>Email Subject line</dt>
      <dd><%= @settings.due_reminder_email_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.due_reminder_email_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="od1">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.first_overdue_reminder_email_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.first_overdue_reminder_email_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="od2">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.second_overdue_reminder_email_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.second_overdue_reminder_email_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="od3">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.third_overdue_reminder_email_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.third_overdue_reminder_email_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="fd">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.final_demand_reminder_email_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.final_demand_reminder_email_message) %></dd>
    </dl>
  </div>
</div>
<hr/>
<div class='col-md-12'>
  <h5>(Above is how the messages will appear on your reminder emails)</h5>
</div>
