<div class="page-header">
  <div class="media">
    <div class="pull-left">
      <%= image_tag('settings.png', class: 'media-object') %>
    </div>
    <div class="media-body">
      <h1 class='media-heading'>Settings</h1>
      <ul class="list-inline">
        <li>
          <%= link_to :back do %>
            <%= fa_icon 'arrow-left', text: 'Back' %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_settings_path do %>
            <%= fa_icon 'edit', text: 'Edit settings' %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path do %>
            <%= fa_icon 'user', text: 'User Profile' %>
          <% end %>
        </li>
        <li>
          <%= link_to company_path do %>
            <%= fa_icon 'institution', text: 'Company Profile' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<ul class="nav nav-pills nav-stacked col-md-2">
  <li class="active">
    <a data-toggle="tab" href="#general">General</a>
  </li>
  <li>
    <a data-toggle="tab" href="#predue">Pre-Due Reminder</a>
  </li>
  <li>
    <a data-toggle="tab" href="#due">Due Reminder</a>
  </li>
  <li>
    <a data-toggle="tab" href="#od1">Overdue Reminder 1</a>
  </li>
  <li>
    <a data-toggle="tab" href="#od2">Overdue Reminder 2</a>
  </li>
  <li>
    <a data-toggle="tab" href="#od3">Overdue Reminder 3</a>
  </li>
  <li>
    <a data-toggle="tab" href="#fd">Final Demand</a>
  </li>
</ul>
<div class="tab-content col-md-10">
  <div class="tab-pane fade in active" id="general">
    <dl>
      <dt>Sent From</dt>
      <dd><%= @settings.send_from_name %></dd>
      <dt>Send copy of all email to</dt>
      <dd><%= @settings.email_copy_to %></dd>
      <dt>Days for Pre-due reminder</dt>
      <dd><%= pluralize(@settings.days_before_pre_due, 'day') %></dd>
      <dt>Days between reminder emails</dt>
      <dd><%= pluralize(@settings.days_between_chase, 'day') %></dd>
      <dt>Payment Method Message:</dt>
      <dd><%= simple_format(@settings.payment_method_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="predue">
    <dl>
      <dt>Send Pre-Due reminder</dt>
      <dd><%= @settings.pre_due_reminder? ? "YES" : "NO" %></dd>
      <dt>Pre-Due Email Subject line</dt>
      <dd><%= @settings.pre_due_subject %></dd>
      <dt>Pre-Due Email Message Content</dt>
      <dd><%= simple_format(@settings.pre_due_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="due">
    <dl>
      <dt>Send Due reminder</dt>
      <dd><%= @settings.due_reminder? ? "YES" : "NO" %></dd>
      <dt>Email Subject line</dt>
      <dd><%= @settings.due_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.due_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="od1">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.overdue1_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.overdue1_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="od2">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.overdue2_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.overdue2_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="od3">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.overdue3_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.overdue3_message) %></dd>
    </dl>
  </div>
  <div class="tab-pane fade" id="fd">
    <dl>
      <dt>Email Subject line</dt>
      <dd><%= @settings.final_demand_subject %></dd>
      <dt>Email Message Content</dt>
      <dd><%= simple_format(@settings.final_demand_message) %></dd>
    </dl>
  </div>
</div>
<hr/>
<div class='col-md-12'>
  <h5>(Above is how the messages will appear on your reminder emails)</h5>
</div>
