<div class="page-header">
  <div class="media">
    <div class="pull-left">
      <%= image_tag('settings.png', class: 'media-object') %>
    </div>
    <div class="media-body">
      <h1>Settings</h1>
    </div>
  </div>
</div>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active">
      <a data-toggle="tab" href="#general">General</a>
    </li>
    <li>
      <a data-toggle="tab" href="#predue">Pre-Due Reminder</a>
    </li>
    <li>
      <a data-toggle="tab" href="#due">Due Reminder</a>
    </li>
    <li>
      <a data-toggle="tab" href="#od1">Overdue Reminder 1</a>
    </li>
    <li>
      <a data-toggle="tab" href="#od2">Overdue Reminder 2</a>
    </li>
    <li>
      <a data-toggle="tab" href="#od3">Overdue Reminder 3</a>
    </li>
    <li>
      <a data-toggle="tab" href="#fd">Final Demand</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade in active" id="general">
      <h3>General Settings</h3>
      <h5>Sent From:</h5>
      <%= @settings.send_from_name %>
      <br/>
      <h5>Send copy of all email to:</h5>
      <%= @settings.email_copy_to %>
      <br/>
      <h5>Days for Pre-due reminder:</h5>
      <%= pluralize(@settings.days_before_pre_due, 'day') %>
      <br/>
      <br/>
      <h5>Days between reminder emails:</h5>
      <%= pluralize(@settings.days_between_chase, 'day') %>
      <br/>
      <h5>Payment Method Message:</h5>
      <%= simple_format(@settings.payment_method_message) %>
    </div>
    <div class="tab-pane fade" id="predue">
      <h3>Pre-Due Reminder</h3>
      <br/>
      <h5>Send Pre-Due reminder:</h5>
      <%= @settings.pre_due_reminder? ? "YES" : "NO" %>
      <br/>
      <h5>Pre-Due Email Subject line:</h5>
      <%= @settings.pre_due_subject %>
      <br/>
      <h5>Pre-Due Email Message Content:</h5>
      <%= simple_format(@settings.pre_due_message) %>
    </div>
    <div class="tab-pane fade" id="due">
      <h3>Due Reminder</h3>
      <h5>Send Due reminder:</h5>
      <%= @settings.due_reminder? ? "YES" : "NO" %>
      <br/>
      <h5>Email Subject Line:</h5>
      <%= @settings.due_subject %>
      <br/>
      <h5>Email Message Content:</h5>
      <%= simple_format(@settings.due_message) %>
    </div>
    <div class="tab-pane fade" id="od1">
      <h3>First Overdue Reminder</h3>
      <br/>
      <h5>Email Subject Line:</h5>
      <%= @settings.overdue1_subject %>
      <br/>
      <h5>Email Message Content:</h5>
      <%= simple_format(@settings.overdue1_message) %>
    </div>
    <div class="tab-pane fade" id="od2">
      <h3>Second Overdue Reminder</h3>
      <br/>
      <h5>Email Subject Line:</h5>
      <%= @settings.overdue2_subject %>
      <br/>
      <h5>Email Message Content:</h5>
      <%= simple_format(@settings.overdue2_message) %>
    </div>
    <div class="tab-pane fade" id="od3">
      <h3>Third Overdue Reminder</h3>
      <br/>
      <h5> Email Subject Line:</h5>
      <%= @settings.overdue3_subject %>
      <br/>
      <h5>Email Message Content:</h5>
      <%= simple_format(@settings.overdue3_message) %>
    </div>
    <div class="tab-pane fade" id="fd">
      <h3>Final Demand</h3>
      <br/>
      <h5>Email Subject Line:</h5>
      <%= @settings.final_demand_subject %>
      <br/>
      <h5>Email Message Content:</h5>
      <%= simple_format(@settings.final_demand_message) %>
    </div>
  </div>
</div>
<hr/>
<h5>
  <%= link_to edit_settings_path do %>
    <%= fa_icon 'edit', text: 'Edit your settings' %>
  <% end %>
</h5>
<h5>
  (Above is how the messages will appear on your reminder emails)
</h5>
<hr/>
<ul class="inline">
  <li>
    <%= link_to :back do %>
      <%= fa_icon 'arrow-left', text: 'Back' %>
    <% end %>
  </li>
  <li>
    <%= link_to edit_user_registration_path do %>
      <%= fa_icon 'user', text: 'User Profile' %>
    <% end %>
  </li>
  <li>
    <%= link_to company_path do %>
      <%= fa_icon 'institution', text: 'Company Profile' %>
    <% end %>
  </li>
</ul>
