<h2>About the product</h2><br>

Ask yourself the following:<br><br>
<ul>
<li>Are you tired of chasing after late or non-paying debtors?</li>
<li>Are you too busy to chase after the customers that are slow at paying?</li>
<li>Do you hate having to make those difficult phone calls begging for the money that is owed to you?</li>
</ul>
Answered yes to any of the above? You are not alone! Most businesses do not like running after clients who owe them money, but it is a necessary part of every business, and critical to ensure that your cash flow remains positive.<br><br>

There is a simpler solution though: <b>Paying Mantis</b>.<br><br>

Paying Mantis allows you to easily and automatically chase your debtors, giving them gentle reminders as follows:<br><br> 
<ul>
<li>1. A <b>few days before</b> the invoice becomes due (It's up to you how many days before, and if you want the system to send this reminder</li>
<li>2. On the <b>due date</b> (Again, it is up to you if you want the system to send this one)</li>
<li>3. <b>First overdue</b> reminder</li>
<li>4. <b>Second overdue</b> reminder</li>
<li>5. <b>Third overdue</b> reminder</li>
</ul>
And finally, Paying Mantis will allow you to send a final demand letter too, but will not do this automatically. This one is up to you, and due to the efficiency and effectiveness of how Paying Mantis works, it is a seldom needed option.<br><br>

It is an extremely simple and very effective, automated way of collecting the outstanding payments that is owed to you and your business.<br><br> 
<hr class="bs-docs-separator">

<%= image_tag("/images/blueprint.png") %>
<h2>How does it work?</h2><br>

There are <b>2 things</b> you need to do in order to set the application up to work perfectly for your business:<br><br>
1. Enter your company details, so that the clients know who the reminder is coming from;<br>
2. Review the default reminder message settings (These will probably suit most businesses, but you might want to make a few changes to suit your specific needs)<br><br>
(The above two steps are once off, and once completed, you will never need to change them, unless you want to)<br><br>

Now that you are done with the settings, simply add a customer (if they do not already exist), and add an invoice you want the system to chase.<br>
The <b>important thing to remember</b> is that the reminder emails are built and sent according to the following:<br><br>

1. Your <b>Settings</b><br> 
2. Your <b>Company profile</b><br>
3. The invoice <b>due date</b><br>
4. Your <b>customer's email</b> address<br><br>

<hr class="bs-docs-separator">

<%= image_tag("/images/magic.png") %>

<h2>And then the magic happens!</h2><br>
Once a day, Paying Mantis will run through your invoices, checking your reminder settings, and calculating whether or not an invoice is due, and if a reminder needs to be sent out. The correct reminder will be sent to all your customers that have upcoming, due or outstanding invoices, and the emails will be built up accordingly, with the correct corresponding messages! <br>

As soon as a customer pays you, mark the invoice as paid, and they will not get another reminder for it.<br><br>

<h4>EASY!</h4><br><br>
<hr class="bs-docs-separator">

The PayingMantis.com website has also been optimized for use on <b>mobile devices</b>, using the latest technologies, so you can manage your business from where ever you are. Keeping track of your debtors has never been so easy! We are busy working on the Paying Mantis <b>Mobile App</b> that will supplement the website, and make your life even easier! We will notify you once it is ready.<br><br>

<%= image_tag("/images/mobile.png") %><br><br>

Not convinced? Well then, why not give it a try yourself? Load up a couple of your old outstanding invoices, and see it in action. You have nothing to lose, and all your outstanding payments to gain! There is simply no reason to give it a try... After all, there is a <b>free</b> account that allows you up to 5 customers! What are you waiting for?<br><br>

<a href="<%= new_user_registration_path %>" class="btn btn-large btn-primary">Sign up for a free account now!</a>	
</p><br>
<p>
<h3>Already have an account?</h3>
<%= link_to 'Login here', new_user_session_path %>  
</p>		  	
<p>
<h3>Watch the Tutorial Video</h3>
<a href="#myModal" data-toggle="modal">View Video</a>


<hr class="bs-docs-separator">

Check out the <%= link_to 'Frequently Asked Questions', '/pages/faq' %> page for more information.<br>





<!-- Modal Video for the Tutorial / How it works -->
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Quick overview of how Paying Mantis works</h3>
  </div>
  <div class="modal-body">
    <!-- <iframe width="530" height="315" src="http://www.youtube.com/embed/6_hJ3R8jEZM" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="530" height="315" src="http://www.youtube.com/embed/yJGI6CC9kPo" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
