<h3 align="right"><a href="<%= new_invoice_path %>" class="btn btn-default btn-primary">Add a New Invoice</a></h3>	


<img src="/images/home.png" class="header"> <br><br><h1>Home</h1>

<h2>Chasing Overview</h2>
You are currently chasing <b><%= @chasing_invoices.count %></b> invoices.<br><br>

<hr class="bs-docs-separator">


  <table class="table">
    <thead>
      <tr>
		<!-- <th><span rel="tooltip" title="The age of the invoice">Age</span></th> -->
		<th><%= sortable "due_date", "Age" %> <a rel="popover" title='Invoice Age' 
							   data-content='The number of days that have passed since the invoice became due. If the number is negative(-), it means that the invoice is not yet due (i.e. "-5" means the payment is only due in 5 days time). Overdue invoices are Red, Invoices due today are Blue, and upcoming invoices are Green'><i class="icon-question-sign"></i></span></a></th>		
        <th><%= sortable "invoice_number", "Invoice Number" %></th>
        <th><%= sortable "due_date", "Due Date" %></th>
        <th><%= sortable "amount", "Amount" %></th>
        <th><%= sortable "description", "Description" %></th>
		<th><%= sortable "status_id", "Status" %></th>
		<th><%= sortable "client_id", "Client" %></th>
		<th><%= sortable "created_at", "Created" %></th>
      </tr>

    </thead>
    <tbody>
		<% @chasing_invoices.each do |invoice| %>
		  <tr>
			<% if Invoice.age(invoice.due_date) > 0 %>
				<td><span class="badge badge-important"><%= Invoice.age(invoice.due_date) %></span></td> <!-- SS Age -->
			<% else %>
				<% if Invoice.age(invoice.due_date) == 0 %>
					<td><span class="badge badge-info"><%= Invoice.age(invoice.due_date) %></span></td> <!-- SS Age -->
				<% else %>
					<% if Invoice.age(invoice.due_date) < 0 %>
						<td><span class="badge badge-success"><%= Invoice.age(invoice.due_date) %></span></td> <!-- SS Age -->
					<% end %>
				<% end %>
			<% end %>
				
		    <td><%= link_to invoice.invoice_number, invoice %></td>
		    <td><%= invoice.due_date %></td>
		    <td><%= invoice.amount %></td>
			<% if invoice.description.size > 50 %> 
				<td><a rel="popover" title='Invoice Description' 
									   data-content='<%= truncate(simple_format(invoice.description), 
												:length => 500) %>'><%= truncate(invoice.description, :length => 50)%></span></a></td>
			<% else %>
			    <td><%= invoice.description %></td>
			<% end %>
			<% if invoice.status_id != nil %>
				<% @status = Status.all :conditions => ["id = ?", invoice.status_id] %> 
			    <td><span class="label label-success"><%= @status[0].description %></span></td>
			<% else %>
				<td></td>
			<% end %>
		    <td><%= link_to invoice.client.business_name, '/clients/'+invoice.client_id.to_s %></td>
			<td><%= time_ago_in_words(invoice.created_at) %> ago</td>
		    <td><%= link_to 'Show', invoice %></td>
		    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
		    <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
    </tbody>
  </table>

<div class="flickr_pagination">
<div class="page_info">
</div>
	<%= will_paginate @chasing_invoices, :container => false %>
</div>
