<h3 align="right"><a href="<%= new_invoice_path %>" class="btn btn-default btn-primary">Add a New Invoice</a></h3>


<%= image_tag 'home.png', class: 'header' %>
 <br><br><h1>Home</h1>

<h2>Chasing Overview</h2>
You are currently chasing <b><%= @chasing_invoices.total_entries %></b> invoices.<br><br>

<% if @chasing_invoices.empty? %>
    <%= render("no_records") %>
<% else %>
    <hr class="bs-docs-separator">

    <table class="table">
      <thead>
      <tr>
        <%= content_tag :th  do %>
            <a rel="popover" title='Invoice Age' data-content='The number of days that have passed since the invoice became due. If the number is negative(-), it means that the invoice is not yet due (i.e. "-5" means the payment is only due in 5 days time). Overdue invoices are Red, Invoices due today are Blue, and upcoming invoices are Green'><i class="icon-question-sign"></i></a>
            <%= sort_link(@q, :due_date, 'Age')%>
        <% end %>
        <%= content_tag :th, sort_link(@q, :invoice_number, 'Invoice Number') %>
        <%= content_tag :th, sort_link(@q, :due_date, 'Due Date') %>
        <%= content_tag :th, sort_link(@q, :amount, 'Amount') %>
        <%= content_tag :th, sort_link(@q, :description, 'Description') %>
        <%= content_tag :th, sort_link(@q, :status_id, 'Status') %>
        <%= content_tag :th, sort_link(@q, :client_id, 'Client') %>
        <%= content_tag :th, sort_link(@q, :created_at, 'Created') %>
      </tr>

      </thead>
      <tbody>
      <%= render @chasing_invoices %>
      </tbody>
    </table>

    <div class="flickr_pagination">
      <div class="page_info">
      </div>
      <%= will_paginate @chasing_invoices, :container => false %>
    </div>

    <br>
    <div align="right"><b>Note:</b> This page only shows invoices with a status of <span class="label label-success">chasing</span><br>For all invoices, click <%= link_to 'here', invoices_path %> or on the Invoices menu item in the Navigation bar</div>
<% end %>


<%= render 'pages/breaking_news' %>