<% cache 'supported_browsers' do %>
<div class="page-header">
  <h2>Supported Browsers</h2>
</div>
<p> PayingMantis.com uses the latest technology, which some older browsers can have issues with.</p>
<br/>
<p>The site <strong>fully supports</strong> (and has been tested on) the following browsers:</p>
<br/>
<ul>
  <li>Safari</li>
  <li>Chrome</li>
  <li>Firefox</li>
  <li>Newer versions of Internet Explorer (Higher than version 8)</li>
</ul>
<p>There are <strong>KNOWN issues</strong> with the following browser versions:</p>
<br/>
<ul>
  <li>Internet Explorer - version 6</li>
  <li>Internet Explorer - version 7</li>
  <li>Internet Explorer - version 8</li>
</ul>
<p>If you are getting the red warning message at the top of your application, you are using one of the above 3
  versions</p>
<hr/>
<h2>How do I get around this?</h2>
<p>You have 3 options:</p>
<ol>
  <li>Upgrade your current version of Internet Explorer to the latest one</li>
  <li>Install a different browser that supports the latest technologies (see below)</li>
  <li>Ignore the message, and give the app a try anyway. But be warned, certain information and screens (including the
    navigation bars) will not be optimally displayed (Not recommended).
  </li>
</ol>
<hr/>
<h2>Where can I get a different browser from?</h2>
<br/>
<p>Please go to one of the following links in order to download the latest browser of your choice:</p>
<br/>
<%= link_to "http://www.google.com/chrome/" do %>
  <%= image_tag 'chrome.png', alt: 'Chrome' %>
  Chrome
<% end %>
<%= link_to "http://www.apple.com/safari/" do %>
  <%= image_tag 'safari.png', alt: 'Safari' %>
  Safari
<% end %>
<%= link_to "http://www.mozilla.org/firefox/" do %>
  <%= image_tag 'firefox.png', alt: 'FireFox' %>
  Firefox
<% end %>
<%= link_to "http://www.microsoft.com/ie" do %>
  <%= image_tag 'explorer.png', alt: 'Internet Explorer' %>
  Explorer
<% end %>
<hr/>
<p>
  <strong>Note:</strong>
  The above links are 3rd party sites, and have no affiliation to our website. Use them at your own risk.
</p>

<% end %>
