<% cache 'tutorial' do %>
<div class="page-header">
  <h2>Help</h2>
</div>
<p>
  Here you can find some information on how emails are built up, and what information is important for your to enter
  correctly, in order for the application to work best for you.
  <br/>
  If you do not find the answers you are looking for on this page, here are more resources you can have a look at:
</p>
<p>
  <%= link_to faq_path do %>
    <%= fa_icon 'question-circle', text: 'Frequently Ask Questions' %>
  <% end %>
</p>
<p>
  <%= link_to about_path do %>
    <%= fa_icon 'exclamation-circle', text: 'About Paying Mantis' %>
  <% end %>
</p>
<p>And if you still need help, you can contact us <%= link_to 'here', new_contact_path %>.</p>
<div class="row">
  <div class="col-md-7">
    <br/>
    <h3>This is an example of what a Pre-Due Reminder email might look like:</h3>
    <br/>
    <%= image_tag("example_email_1.jpg") %>
    <br/>
    <br/>
    <h3>It is broken down as follows:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <br/>
    <%= image_tag("example_email_2.jpg") %>
    <br/>
    <br/>
  </div>
  <div class="col-md-5">
    <br/>
    <h3>Breakdown Descriptions:</h3>
    <br/>
    <h4>1. Your Customer's Details</h4>
    <h4>2. Your Company Profile Details</h4>
    <h4>3. The Invoice Details</h4>
    <h4>4. The appropriate reminder message, as per your Settings</h4>
    <h4>5. Your Company Name, as setup in the "Sent From" field in Settings</h4>
    <h4>6. Your payment details, as per your Settings</h4>
    <br/>
    <h3>Important things to remember:</h3>
    <p>Make sure you enter the correct Client Email address, as this is where the reminder emails will be delivered.</p>
    <p> Setup your company profile correctly, as these details will be visible to the client, and are what the client
      will use to contact you (Note: your company email will be used as the from address as well).</p>
    <p> Settings are extremely important part of how the application works. Before loading any invoices, make sure to
      check and customize them to suit your needs, including the following items:</p>
    <ol>
      <li>Your banking and payment details (Item 6 in example email)</li>
      <li>Your reminder email subject and message.</li>
    </ol>
  </div>
</div>
<% end %>
