<div class="page-header">
  <h1><%= image_tag 'contact.png' %> Contact and Support</h1>
</div>
<h4>Got a question? Check these out:</h4>
<p class='lead'><%= link_to 'Frequently Asked Questions', faq_path %></p>
<h4>Email us at:</h4>
<!--Place the code below where you want the link to be displayed-->
<p class="lead"><span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:fhccbeg@frneyrpbafhygvat.pb.mn\" >Fhccbeg@FrneyrPbafhygvat.pb.mn</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">az.oc.gnitlusnocelraes@troppus</span></noscript></span></p>
<h4>Follow or Tweet us:</h4>
<a class="twitter-follow-button" data-show-count="false" data-size="large" href="https://twitter.com/SearleCon">Follow @SearleCon</a>
<a class="twitter-mention-button" data-size="large" href="https://twitter.com/intent/tweet?screen_name=SearleCon">Tweet to @SearleCon</a>
<h4>Let us get back to you:</h4>
<%= form_for @message, url: contacts_path do |f| %>
  <div class='row'>
    <div class="col-md-4">
      <%= f.form_group :name do %>
        <%= f.label :name %>
        <%= f.text_field :name, required: true, class: "form-control" %>
        <%= f.errors_for :name %>
      <% end %>
      <%= f.form_group :email do %>
        <%= f.label :email %>
        <%= f.email_field :email, required: true, class: "form-control" %>
        <%= f.errors_for :email %>
      <% end %>
      <%= f.form_group :subject do %>
        <%= f.label :subject %>
        <%= f.text_field :subject, required: true, class: "form-control" %>
        <%= f.errors_for :subject %>
      <% end %>
    </div>
    <div class="col-md-8">
      <%= f.form_group :body do %>
        <%= f.label :body %>
        <%= f.text_area :body, required: true, class: "form-control", rows: 9 %>
        <%= f.errors_for :body %>
      <% end %>
    </div>
    <%= f.form_group :content, class: 'honeypot' do %>
      <%= f.label :content %>
      <%= f.text_field :content, tabindex: '-1' %>
      <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
    <% end %>
  </div>
  <hr/>
  <%= f.submit "Send Enquiry", class: 'btn btn-primary btn-sm' %>
<% end %>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
