<div class="page-header">
  <div class="media">
    <div class="media-left media-middle">
      <%= image_tag 'contact.png', class: 'media-object' %>
    </div>
    <div class="media-body">
      <h2 class="media-heading">
        Contact and Support
      </h2>
    </div>
  </div>
</div>
<h4>Got a question? Check these out:</h4>
<p class='lead'><%= link_to 'Frequently Asked Questions', faq_path %></p>
<h4>Email us at:</h4>
<p class="lead"><%= obfuscate_email 'Support@SearleConsulting.co.za' %></p>
<h4>Follow or Tweet us:</h4>
<a class="twitter-follow-button" data-show-count="false" data-size="large" href="https://twitter.com/SearleCon">Follow @SearleCon</a>
<a class="twitter-mention-button" data-size="large" href="https://twitter.com/intent/tweet?screen_name=SearleCon">Tweet to @SearleCon</a>
<h4>Let us get back to you:</h4>
<%= form_for @message, url: contacts_path, html: {honeypot: true} do |f| %>
  <div class='row'>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :subject %>
        <%= f.text_field :subject, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows: 9 %>
      </div>
    </div>
  </div>
  <hr/>
  <%= f.submit "Send Enquiry", class: 'btn btn-primary btn-sm' %>
<% end %>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
