<tr>
  <td><%= age_badge(invoice.age) %></td>
  <td><%=  link_to invoice.invoice_number, invoice %></td>
  <td><%= time_tag(invoice.due_date) %></td>
  <td><%= number_with_precision(invoice.amount, precision: 2) %></td>
  <td><%= truncate(invoice.description, length: 20) %></td>
  <td><%= local_time_ago(invoice.created_at) %></td>
  <td>
    <ul class="list-inline">
      <li>
        <% link_to invoice do %>
          <%= fa_icon 'play-circle-o', text: 'Show' %>
        <% end %>
      </li>
      <li>
        <%= link_to edit_invoice_path(invoice) do %>
          <%= fa_icon 'edit', text: ' Edit' %>
        <% end %>
      </li>
      <li>
        <%= link_to invoice, method: :delete, data: {confirm: "<p>You are about to delete the invoice <strong>#{invoice.invoice_number}!</strong></p><p><strong>NOTE:</strong> This cannot be undone!</p><p>Are you sure you want to continue?</p>"} do %>
          <%= fa_icon 'trash', text: 'Delete' %>
        <% end %>
      </li>
    </ul>
  </td>
</tr>
