<div class="page-header">
  <h1><%= image_tag 'invoices.png' %> Add an Invoice for <%= @client.business_name %></h1>
  <%= link_to @client do %>
    <%= fa_icon 'arrow-left', text: 'Back' %>
  <% end %>
</div>
<%= form_for [@client, @invoice] do |f| %>
  <div class="row">
    <div class="col-md-5">
      <%= f.form_group :invoice_number do %>
        <%= f.label :invoice_number %>
        <%= f.text_field :invoice_number, placeholder: 'Invoice number', required: true,  class: 'form-control' %>
        <%= f.errors_for :invoice_number %>
      <% end %>
      <%= f.form_group :due_date do %>
        <%= f.label :due_date %>
        <%= f.text_field :due_date, placeholder: 'Due date', required: true, class: 'form-control datepicker' %>
        <%= f.errors_for :due_date %>
      <% end %>
      <%= f.form_group :amount do %>
        <%= f.label :amount %>
        <%= f.number_field :amount, placeholder: 'Amount', class: 'form-control', step: 'any' %>
        <%= f.errors_for :amount %>
      <% end %>
      <%= f.form_group :description do %>
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: 'Description', class: 'form-control' %>
        <%= f.errors_for :description %>
      <% end %>
      <%= f.form_group :status do %>
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Invoice.statuses.collect { |s| [s[0].humanize, s[0]] }, selected: f.object.status), { include_blank: false }, class: 'form-control' %>
        <%= f.errors_for :status %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= image_tag('tip.png') %>
            Notes
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <%= simple_format("<strong>Due Date:</strong> The due date is important. It is what drives the reminder emails. The <em>CHASING INTERVAL(DAYS FOR PRE-DUE REMINDER)</em> and <em>PRE-DUE INTERVAL(DAYS BETWEEN REMINDER EMAILS)</em> in your settings will be subtracted or added respectively to the Due Date. <strong><em>Example:</em></strong> If your due date is <strong>today</strong>, the first overdue reminder will be <strong>today plus 7 days</strong>(Default in settings is 7 - You can change this if you want). In this case, the Pre-Due reminder date will be set to <strong>today less 2</strong>(Default in Settings is 2 - You can also change this to suit your needs).") %>
            </li>
            <li>
              <%= simple_format("<strong>Status:</strong> The default status is <em>Chasing</em>. Leave it as this in order to set this newly added invoice to be chased. If you are editing an invoice, changing it to anything other than <em>Chasing</em>, will STOP the reminder emails from being sent for this invoice. <em>Delete</em> will mark it as deleted, but will not in fact delete it from the database. To delete the invoice permanently, click the delete link for that invoice on the invoice listing screen. Selecting <em>Send Final Demand</em> will set this to send the final demand letter to the client. Please note that it will send it the NEXT day, along with the daily reminder email run, in order to give you the chance to stop it from being sent, if need be.") %>
            </li>
            <li>
              <%= simple_format("<strong>Description:</strong> This is for your records only, and will not display on any reminder emails.") %>
            </li>
            <li>
              <%= simple_format("<strong>Settings:</strong> Your settings are extremely important part of how the application works. Before loading any invoices, make sure to check and customize them to suit your needs (This is done only once), including the following items:<ol><li>Your banking and payment details</li><li>Your reminder email subject and message.</li></ol>") %>
            </li>
            <li>
              <%= simple_format("<strong>Loading OLD invoices:</strong> If you are loading an invoice that is very old, and way overdue, we recommend that you load them into Paying Mantis with a due date of YESTERDAY. This will ensure that a <em>pre-due</em> and <em>due</em> reminders are not sent (because obviously for these slow paying clients, it has already passed). It will also make sure that the chain of overdue reminders sent will start at the first one, and go through the entire process, yielding the best possible results for payment.") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit 'Save Invoice', class: 'btn btn-primary btn-sm' %>
<% end %>
