<%= form_for(@company, :html => {:multipart => true}) do |f| %>

    <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
            <% @company.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>





    <div class="row">
      <div class="span5">






        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :post_code %>
          <%= f.text_field :post_code %>
        </div>
        <div class="field">
          <%= f.label :telephone %>
          <%= f.text_field :telephone %>
        </div>
        <div class="field">
          <%= f.label :fax %>
          <%= f.text_field :fax %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>






      </div>
      <div class="span6 tooltip-demo well">
        <%= image_tag('tip.png', class: 'header') %><h3>Notes:</h3><br>
        <ul>
          <li><b>Email:</b> This email address is the most important item on this page. Make sure to enter it correctly, as all the reminder emails will be shown as sent FROM this address.</li><br>
          <li><b>Contact Info:</b> All of the other fields on this form (apart from your company logo) will be shown on the invoice and it is important that you enter correct information here, as this is what the client will use to contact you or to send you payment confirmation etc.</li><br>
          <li><b>Logo:</b> The logo is optional and is not used anywhere on the reminders. For best results, use a PNG file with a size no greater than 200kb, and dimensions of 200 x 50 pixels (width x height)</li>
        </ul>
      </div>
    </div>






    <hr>
    <h3>Upload or Change your Logo (Optional)</h3>
    <h6>(This logo will appear on your emails. If you do not select a logo, the Company Name will be used instead)</h6><br><br>
    <p>
      <%= f.label :image, "Select an image by clicking this button (Formats accepted: .jpg, .jpeg, .png)"%><a rel="popover" title='Upload Tips'
                                                                                                              data-content='For best results, use a .png file with the dimensions of 50 pixels high x 200 pixels wide. Image size limit is 200kb'><i 					    class="icon-question-sign"></i></a>
      <%= f.file_field :image %><br><br>
      <%= f.label :remote_image_url, "or paste an image URL from the web into this box:" %>
      <%= f.text_field :remote_image_url %><br>
      Once your logo is selected, click the Update Company button below to save it<br>
      (Note: Image might be resized automatically, but the aspect ratio will be preserved).
    </p>














    <hr>

    <div class="actions">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
    </div>
<% end %>
