<h2>Company Profile</h2><br>


<% @companies.each do |company| %>

	<%= company.logo_path %><br><br>

    <!-- <h4><%= best_in_place company, :name %></h4><br> -->
	
	<table>
	  <tr>
	    <td>Name:</td>
	    <td><h4>	<%= best_in_place company, :name %></h4></td>
	  </tr>
	  <tr>
	    <td>Address:</td>
	    <td>	<%= best_in_place company, :address %></td>
	  </tr>
	  <tr>
	    <td>City:</td>
	    <td><%= best_in_place company, :city %></td>
	  </tr>
	  <tr>
	    <td>Postal Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <!-- &nbsp; SS is the code for Spaces in HTML -->
	    <td><%= best_in_place company, :post_code %></td>
	  </tr>
	  <tr>
	    <td>Telephone:</td>
	    <td><%= best_in_place company, :telephone %></td>
	  </tr>
	  <tr>
	    <td>Fax:</td>
	    <td><%= best_in_place company, :fax %></td>
	  </tr>
	  <tr>
	    <td>Email:</td>
	    <td><%= best_in_place company, :email %></td>
	  </tr>

	</table>

    <hr class="bs-docs-separator">

    <h6>Click on any of the above details to edit them directly,<br>
	Or if you want to edit ALL the details at once, <%= link_to 'Click Here', edit_company_path(company) %></h6><br>
	
	<h6>(Above is how the profile will appear on your reminder emails)</h6>


<% end %>

<hr class="bs-docs-separator">

<%= link_to "Back", :back %> | <%= link_to "User Profile", edit_user_registration_path %> | <%= link_to "Settings", settings_path %>