<% cache @company do %>
  <div class="page-header">
    <h2>Company Profile</h2>
    <ul class="list-inline">
      <li><%= link_to :back do %>
          <%= fa_icon 'arrow-left', text: 'Back' %>
        <% end %>
      </li>
      <li>
        <%= link_to edit_company_path do %>
          <%= fa_icon 'edit', text: 'Edit company details' %>
        <% end %>
      </li>
      <li><%= link_to edit_user_registration_path do
        %><%= fa_icon 'user', text: 'User Profile' %>
      <% end %></li>
    <li><%= link_to settings_path do %>
        <%= fa_icon 'gears', text: 'Settings' %>
      <% end %></li>
  </ul>
</div>
<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @company.name %></dd>
  <dt>Address:</dt>
  <dd><%= @company.address %></dd>
  <dt>City:</dt>
  <dd><%= @company.city %></dd>
  <dt>Postal Code:</dt>
  <dd><%= @company.post_code %></dd>
  <dt>Telephone:</dt>
  <dd><%= number_to_phone(@company.telephone, area_code: true) %></dd>
  <dt>Fax:</dt>
  <dd><%= @company.fax %></dd>
  <dt>Email:</dt>
  <dd><%= @company.email %></dd>
</dl>
<h5>(Above is how the profile will appear on your reminder emails)</h5>
<% end %>
