<div class="jumbotron">
  <h2>Welcome back!</h2>
  <h3>And finally, to unlock Paying Mantis, please confirm and complete your order:</h3>
  <h4>Grant me full access to the site for the next <%= pluralize(@subscription.duration, 'month') %>
    - <%= @subscription.description %> at the cost of <%= number_to_currency(@subscription.cost, precision: 0) %>.</h4>
  <%= form_for @subscription do |f| %>
    <%= f.hidden_field :plan_id %>
    <%= f.hidden_field :paypal_customer_token %>
    <%= f.hidden_field :paypal_recurring_profile_token %>
    <%= f.submit 'Complete', class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
