<div class="page-header">
  <div class="btn-group btn-group-justified" role="group">
    <%= link_to admins_users_path, class: 'btn btn-default' do %>
      <%= fa_icon 'users', text: 'Users' %>
    <% end %>
    <%= link_to admins_delayed_web_path, class: 'btn btn-default' do %>
      <%= fa_icon 'tasks', text: 'Jobs' %>
    <% end %>
    <%= link_to admins_plans_path, class: 'btn btn-default' do %>
      <%= fa_icon 'money', text: 'Plans' %>
    <% end %>
    <%= link_to admins_announcements_path, class: 'btn btn-default' do %>
      <%= fa_icon 'newspaper-o', text: 'News' %>
    <% end %>
    <%= link_to admins_suggestions_path, class: 'btn btn-default' do %>
      <%= fa_icon 'comments', text: 'Suggestions' %>
    <% end %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Summary</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= @dashboard.total_users %></span>
      Total users
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @dashboard.emails_sent_today_count %></span>
      Total emails sent today
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @dashboard.emails_sent_last_7_days_count %></span>
      Total emails sent in the last 7 days
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @dashboard.suggestions_last_7_days_count %></span>
      Recent suggestions (last 7 days)
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @dashboard.delayed_jobs_count %></span>
      Total jobs
    </li>
  </ul>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
     New sign ups
     <small>(<%= pluralize(@dashboard.new_users.size, 'user') %> since yesterday)</small>
    </h3>
  </div>
  <table class='table table-bordered table-condensed'>
    <thead>
      <tr>
        <th>
          Name
      </th>
        <th>
          Email
      </th>
        <th>
          Last sign in
      </th>
        <th>
          Plan
      </th>
        <th>
          Expiry date
      </th>
      </tr>
    </thead>
    <tbody>
      <% @dashboard.new_users.each do |user| %>
        <tr>
          <td>
            <%=link_to user.name, admins_user_path(user) %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td data-value="<%= user.last_sign_in_at %>">
            <%= local_time_ago(user.last_sign_in_at) unless user.sign_in_count.zero? %>
          </td>
          <td>
            <%= user.subscription.description if user.subscribed? %>
          </td>
          <td data-value="<%= user.subscription.expiry_date if user.subscribed? %>">
            <%= local_time_ago(user.subscription.expiry_date) if user.subscribed? %>
          </td>
          <td>
            <%= link_to impersonations_path(id: user.id), method: :post do %>
              <%= fa_icon 'sign-in', text: 'Sign in as this user' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Last 25 emails sent</h3>
  </div>
  <table class='table table-bordered table-condensed'>
    <thead>
      <tr>
        <th>
          From
        </th>
        <th>
          To
        </th>
        <th>
          Date sent
        </th>
        <th>
          Subject
        </th>
      </tr>
    </thead>
    <tbody>
      <% @dashboard.last_25_emails_sent.each do |history| %>
        <tr>
          <td data-value="<%= history.email_sent_from %>">
            <%= history.email_sent_from %>
          </td>
          <td data-value="<%= history.email_sent_to %>">
            <%= history.email_sent_to %>
          </td>
          <td data-value="<%= history.date_sent %>">
            <%= local_time_ago(history.date_sent) %>
          </td>
          <td data-value="<%= history.subject %>">
            <%= history.subject %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
