
<p>
  <b>Description:</b>
  <%= @plan.description %>
</p>

<p>
  <b>Duration:</b>
  <%= @plan.duration %>
</p>

<p>
  <b>Cost:</b>
  <%= @plan.cost %>
</p>

<p>
  <b>Active:</b>
  <%= @plan.active %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
