<%= form_for @suggestion do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Optional email", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary btn-sm' %>
<% end %>
