<div class="page-header">
  <h1><%= image_tag('reports.png') %> Reports</h1>
  <h3>Summary report (Invoices with Chasing Status)</h3>
</div>
<dl class="dl-horizontal">
  <dt>More than 90 days:</dt>
  <dd><%= @summary_report.over_ninety_days %></dd>
  <dt>60 - 90 days:</dt>
  <dd><%= @summary_report.sixty_to_ninety_days %></dd>
  <dt>30 - 60 days:</dt>
  <dd><%= @summary_report.thirty_to_sixty_days %></dd>
  <dt>0 - 30 days:</dt>
  <dd><%= @summary_report.zero_to_thirty_days %></dd>
  <dt>Not yet due:</dt>
  <dd><%= @summary_report.not_due %></dd>
  <dt>Total due to you:</dt>
  <dd><%= @summary_report.total %></dd>
</dl>
