<footer class="footer">
  <small>
     <%= link_to 'Searle Consulting © Copyright 2013', 'http://searleconsulting.com/' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', pages_about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to "News", announcements_path %></li>
      <li><%= link_to 'FAQs', pages_faq_path %></li>
      <li><%= link_to 'Terms', pages_tos_path %></li>
      <li><%= link_to 'Privacy', pages_privacy_path %></li>
    </ul>
  </nav>
</footer>