<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Paying Mantis" %></title>

	<%= metamagic :title => "Paying Mantis - Increase your Cash Flow", :author => "Searle Consulting", :description => "Automatically chase your customers that owe you money, and get paid quicker. Paying Mantis dramatically ups your chances of increasing your cash flow.", :keywords => %w(Cash Flow Cashflow Get Paid Money owed Chase Debtors Increase) %>

    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
	
	<!-- SS Full screen BG Background S -->
    <%= image_tag 'background_wood.jpg', alt: 'full screen background image', id: 'full-screen-background-image' %>
	<!-- SS Full screen BG Background E -->
	
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
	
			<% if browser.ie6? || browser.ie7? || browser.ie8?  %>
				<div class="ie_warn">				
			  		WARNING: You're running an older version of Internet Explorer that is not fully supported.<br>
					For more information, please click <%= link_to 'here', ie_warning_path %>
				</div><br>
			<% end %>
	
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>

		<%= render 'layouts/footer' %>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>